<h1>trainings - overview</h1>

<div class="unigrid--row">
  <div class="brick brick--6">
    <a ui-sref="trainings/create.step1">+ create training</a><br />
    <a ui-sref="collections/create.step1">+ create collection</a>
  </div>

  <div class="brick brick--18">

    <div class="golden-ratio--row row--flex-height trainings--item" ng-repeat="training in trainings">
      <div class="trainings--item__action">
        <button class="narrow" ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button class="narrow"><i class="fa fa-clone" aria-hidden="true"></i></button>
        <a class="btn btn-default narrow" ui-sref="trainings/create.step1({trainingId: training.$id})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </div>
      <div class="row--small">
        <a class="exercises__title" ui-sref="trainings/training({trainingId: training.$id})">{{ training.team }} - {{ training.trainingDate }}</a> (<a ui-sref="trainings/create.step1({trainingId: training.$id})">edit</a>)<br />
        <span>{{training.timestamp | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</span>
      </div>
      <div class="row--tall">
        <span class="tag-item" ng-repeat="tags in training.content">{{ tags.text }}</span>
      </div>
    </div>

    <hr class="narrow" />

    <div class="golden-ratio--row row--flex-height trainings--item" ng-repeat="collection in collections">
      <div class="trainings--item__action">
        <button class="narrow" ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <button class="narrow"><i class="fa fa-clone" aria-hidden="true"></i></button>
        <a class="btn btn-default narrow" ui-sref="collections/create.step1({collectionId: collection.$id})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      </div>
      <div class="row--small">
        <a class="exercises__title" ui-sref="collections/collection({collectionId: collection.$id})">{{ collection.titel }}</a> (<a ui-sref="collections/create.step1({collectionId: collection.$id})">edit</a>)<br />
        <span>{{collection.timestamp | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</span>
      </div>
      <div class="row--tall">
        <span class="tag-item" ng-repeat="tags in collection.content">{{ tags.text }}</span>
      </div>
    </div>

  </div>
</div>
