<div class="unigrid--row">
  <div class="brick brick--12">
    <h1>trainings</h1>
  </div>
  <div class="brick brick--12 align--right">
    <button ui-sref="trainings">back</button>
  </div>
</div>

<div class="has-toolbar training">
  <div class="unigrid--row">
    <div class="brick brick--6">
      <strong>{{training.team}}</strong><br />
      Trainer: {{training.trainer}}<br />
      Datum: {{training.trainingDate}}
    </div>
    <div class="brick brick--12">
      <strong>Trainingsinhalt</strong>
      <div>
        <span ng-repeat="tags in training.content">{{ tags.text }}<span ng-if="!$last">, </span></span>
      </div>
    </div>
    <div class="brick brick--6 align--right">
      <img src="images/logo.png" style="height: 100px; width: auto;" />
    </div>

  </div>

  <hr class="invisible" />

  <div class="exercises">

    <div class="unigrid--row unigrid--border exercises__header">
      <div class="brick brick--2">
        <strong>Lektionsteil</strong>
      </div>

      <div class="brick brick--7">
        <strong>Beschreibung</strong>
      </div>
      <div class="brick brick--6">
        <strong>Organisation</strong>
      </div>
      <div class="brick brick--7">
        <strong>Coaching</strong>
      </div>

      <div class="brick brick--2">
        <strong>Dauer</strong>
      </div>
    </div>

    <div class="unigrid--row unigrid--border" ng-repeat="trainingExercise in training.exercises track by $index">
      <div class="brick brick--2">
        <strong>{{trainingExercise.lektionsteil}}</strong>
      </div>

      <div class="brick brick--7">
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).description)"></span>
      </div>
      <div class="brick brick--6">
        <img class="training__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}" />
      </div>
      <div class="brick brick--7">
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).aufbau)"></span>
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).coaching)"></span>
      </div>

      <div class="brick brick--2">
        <strong>{{trainingExercise.dauer}} min</strong>
      </div>
    </div>

  </div>

  <hr class="invisible" />

  <div class="unigrid--row unigrid--border" ng-if="training.bemerkungen">
    <div class="brick brick--24">
      <span class="fake-label">Bemerkungen</span>
      <div ng-bind-html="convertToHtml(training.bemerkungen)"></div>
    </div>
  </div>

  <div class="unigrid--row training__toolbar">
    <div class="brick brick--3">
      <button type="submit" ui-sref="trainings/create.step1({trainingId: training.$id})">Bearbeiten</button>
    </div>
    <div class="brick brick--21">
      <button ng-click="makePDF('open')">Vorschau</button>
      <button ng-click="makePDF('print')">Drucken</button>
      <button ng-click="makePDF('download')">Herunterladen</button>
    </div>
  </div>

</div>
