<h1>trainings</h1>

<div class="unigrid--row">
  <div class="brick brick--8">
    <div class="form-group">
      <label for="exercise.name">Name</label>
      <input type="text" name="exercise.name" id="exercise.name" class="form-control" required />
    </div>
  </div>
  <div class="brick brick--16">
    <div class="form-group">
      <label for="exercise.content">Trainingsinhalt</label>
      <input type="text" name="exercise.content" id="exercise.content" class="form-control" required />
    </div>
  </div>
</div>

<div class="unigrid--row">
  <div class="brick brick--8">
    <div class="form-group">
      <label>Beschreibung</label>
      <textarea rows="8" class="form-control" required></textarea>
    </div>
  </div>
  <div class="brick brick--8">
    <span class="fake-label">Grafik</span>
    <img class="img--auto" src="images/torschuss.jpg" />
  </div>
  <div class="brick brick--8">
    <div class="form-group">
      <label for="exercise.aufbau">Aufbau</label>
      <textarea rows="3" class="form-control" id="exercise.aufbau"></textarea>
    </div>

    <div class="form-group">
      <label for="exercise.coaching">Coaching</label>
      <textarea rows="3" class="form-control" id="exercise.coaching"></textarea>
    </div>
  </div>
</div>

<div class="unigrid--row">
  <div class="brick brick--8">
    <span class="fake-label">Grafik</span>
    <img class="img--auto" src="images/torschuss.jpg" />
  </div>
  <div class="brick brick--16">
    <div class="form-group">
      <label>Variationen</label>
      <textarea rows="8" class="form-control"></textarea>
    </div>
  </div>
</div>

<div class="unigrid--row">
  <div class="brick brick--24">
    <div class="form-group">
      <label for="exercise.bemerkungen">Bemerkungen</label>
      <textarea rows="3" class="form-control" id="exercise.bemerkungen"></textarea>
    </div>
  </div>
</div>
