<div class="unigrid--row">
  <div class="brick brick--12">
    <h1>wizard</h1>
  </div>
  <div class="brick brick--12 align--right">
    <button ng-click="showHtml()"><i class="fa fa-eye" aria-hidden="true"></i> preview</button>
    <button ui-sref="trainings">back</button>
  </div>
</div>

<a ui-sref="trainings/create.step1" ui-sref-active="active" class="wizard">1</a> / <a ui-sref="trainings/create.step2" ui-sref-active="active" class="wizard">2</a> / <a ui-sref="trainings/create.step3" ui-sref-active="active" class="wizard">3</a>

<form class="has-toolbar">

  <ui-view></ui-view>

  <!-- FOOTER LIKE TOOLBAR -->
  <div class="unigrid--row training__toolbar">
    <div class="brick brick--3">
      <button type="submit" ng-click="saveTraining()">Speichern</button>
    </div>
    <div class="brick brick--21">
      <button ng-click="makePDF('open')">Vorschau</button>
      <button ng-click="makePDF('print')">Drucken</button>
      <button ng-click="makePDF('download')">Herunterladen</button>
    </div>
  </div>
</form>
