<div class="unigrid--row">
  <div class="brick brick--12">
    <h1>wizard</h1>
  </div>
  <div class="brick brick--12 align--right">
    <button ng-click="showHtml()"><i class="fa fa-eye" aria-hidden="true"></i> preview</button>
    <button ui-sref="trainings">back</button>
  </div>
</div>

<form class="has-toolbar">

  <!-- ALLGEMEINES -->
  <div class="unigrid--row">
    <div class="brick brick--4">
      <div class="form-required form-group">
        <label for="training.trainer">Trainer</label>
        <input ng-model="training.trainer" type="text" name="training.trainer" id="training.trainer" class="form-control" required/>
      </div>
    </div>
    <div class="brick brick--4">
      <div class="form-required form-group">
        <label for="training.team">Team</label>
        <div class="select">
          <select ng-model="training.team" name="training.team" id="training.team" required>
            <option>Team 1</option>
            <option>3. Liga</option>
            <option>Junioren B</option>
            <option>1. Mannschaft</option>
            <option>YB Stadt FE-12</option>
          </select>
          <div class="select__arrow"></div>
        </div>
      </div>
    </div>
    <div class="brick brick--4">
      <div class="form-required form-group">
        <label for="training.date">Datum</label>
        <input type="text" ng-model="training.trainingDate" name="training.date" id="training.date" class="form-control" required/>
      </div>
    </div>
    <div class="brick brick--12">
      <div class="form-required form-group">
        <label>Trainingsinhalt</label>
        <tags-input ng-model="training.content" replace-spaces-with-dashes="false">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </div>
    </div>
  </div>

  <!-- BEMERKUNGEN -->
  <!--
  <div class="unigrid--row">
    <div class="brick brick--24">
      <div class="form-group">
        <label for="training.bemerkungen">Bemerkungen</label>
        <textarea rows="3" class="form-control" id="training.bemerkungen" ng-model="training.bemerkungen"
                  ng-if="!showHtmlText"></textarea>
        <div ng-bind-html="convertToHtml(training.bemerkungen)" ng-show="showHtmlText" class="fake-input"></div>
      </div>
    </div>
  </div>
  -->

  <!-- TRAININGSINHALT -->
  <div class="unigrid--row training__exercise-search">
    <div class="brick brick--18 unigrid--col">

      <div class="brick brick--col--1">
        <tags-input ng-model="search" replace-spaces-with-dashes="false">
          <auto-complete source="loadTags($query)"></auto-complete>
        </tags-input>
      </div>

      <div class="brick brick--col--2 unigrid--row" ng-repeat="item in searchResult">
        <div class="brick brick--4 first">
          <div class="radio">
            <input id="{{item.$id}}" type="radio" value="{{item.$id}}" name="exerciseId" ng-model="exercise.exerciseId" />
            <label for="{{item.$id}}">
              {{ item.name }}
            </label>
          </div>
        </div>
        <div class="brick brick--4">
          <a class="fancybox" href="{{item.graphic}}">
            <img class="training__exercise-image" data-ng-src="{{item.graphic}}" data-err-src="images/torschuss.png" />
          </a>
        </div>
        <div class="brick brick--10">
          <span class="tag-item" ng-repeat="tags in item.content">{{ tags.text }}</span>
        </div>
      </div>

    </div>
    <div class="brick brick--3">
      <div class="form-required form-group">
        <label for="exercise.lektionsteil" class="sr-only" style="display: none;">Lektionsteil</label>
        <div class="select">
          <select name="exercise.lektionsteil" id="exercise.lektionsteil" ng-model="exercise.lektionsteil" required>
            <option>Einstieg</option>
            <option>G 1</option>
            <option>A</option>
            <option>G 2</option>
            <option>Ausklang</option>
          </select>
          <div class="select__arrow"></div>
        </div>
      </div>
      <div class="form-required form-group">
        <label for="exercise.dauer" class="sr-only" style="display: none;">Dauer</label>
        <input type="number" name="exercise.dauer" id="exercise.dauer" class="form-control" placeholder="Dauer in min" ng-model="exercise.dauer" />
      </div>
    </div>
    <div class="brick brick--3">
      <button type="button" class="btn-primary" style="width: 100%;" ng-click="addExercise()">Hinzufügen</button>
    </div>
  </div>

  <hr />

  <!-- TRAINING ORGANISIEREN -->
  <!-- overview: auto/scroll ?! -->
  <div class="training">

    <div class="unigrid--row unigrid--border training__header">
      <div class="brick brick--2">
        <strong>Lektionsteile</strong>
      </div>

      <div class="brick brick--7">
        <strong>Beschreibung</strong>
      </div>
      <div class="brick brick--6">
        <strong>Organisation</strong>
      </div>
      <div class="brick brick--7">
        <strong>Coaching</strong>
      </div>

      <div class="brick brick--2">
        <strong>Dauer</strong>
      </div>
    </div>

    <div class="unigrid--row unigrid--border training__exercise" ng-repeat="trainingExercise in training.exercises track by $index">
      <div class="training__action">
        <button ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        <br />
        <button ng-click="toggleEditExercise($index)"><i class="fa fa-pencil" aria-hidden="true" ng-if="!isEdit($index)"></i><i class="fa fa-check" aria-hidden="true" ng-if="isEdit($index)"></i></button>
        <br />
        <button><i class="fa fa-arrows" aria-hidden="true"></i></button>
      </div>

      <div class="brick brick--2 first">
        <strong ng-if="!isEdit($index)">{{trainingExercise.lektionsteil}}</strong>

        <div class="form-required form-group" ng-if="isEdit($index)">
          <label for="lektionsteil{{$index}}" class="sr-only" style="display: none;">Lektionsteil</label>
          <div class="select">
            <select name="lektionsteil{{$index}}" id="lektionsteil{{$index}}" ng-model="trainingExercise.lektionsteil" required>
              <option>Einstieg</option>
              <option>G 1</option>
              <option>A</option>
              <option>G 2</option>
              <option>Ausklang</option>
            </select>
            <div class="select__arrow"></div>
          </div>
        </div>

      </div>

      <div class="brick brick--7">
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).description)"></span>
      </div>
      <div class="brick brick--6">
        <img class="training__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}" />
      </div>
      <div class="brick brick--7">
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).aufbau)"></span>
        <span ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).coaching)"></span>
      </div>

      <div class="brick brick--2">
        <strong ng-if="!isEdit($index)">{{trainingExercise.dauer}} min</strong>

        <div class="form-required form-group" ng-if="isEdit($index)">
          <label for="dauer{{$index}}" class="sr-only" style="display: none;">Dauer</label>
          <input type="number" name="dauer{{$index}}" id="dauer{{$index}}" class="form-control" placeholder="Dauer" ng-model="trainingExercise.dauer" />
        </div>
      </div>
    </div>

  </div>

  <!-- FOOTER LIKE TOOLBAR -->
  <div class="unigrid--row training__toolbar">
    <div class="brick brick--3">
      <button type="submit" ng-click="saveTraining()">Speichern</button>
    </div>
  </div>
</form>
