<div class="unigrid--row">
  <div class="brick brick--12">
    <h1>collections</h1>
  </div>
  <div class="brick brick--12 align--right">
    <button ui-sref="trainings">back</button>
  </div>
</div>

  <div class="has-toolbar collection">
    <h2>{{training.titel}}</h2>
    <div class="exercise" ng-repeat="trainingExercise in training.exercises track by $index">
      <div class="unigrid--row">
        <div class="brick brick--24">
          <span class="fake-label">Trainingsinhalt</span>
          <div class="fake-input">
            <span ng-repeat="tags in trainingExercise.content">{{ tags.text }}<span ng-if="!$last">, </span></span>
          </div>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--12">
          <span class="fake-label">Grafik</span>
          <img class="collection__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}"/>
        </div>
        <div class="brick brick--12">
          <span class="fake-label">Beschreibung</span>
          <span class="fake-input"
                ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).description)"></span>
        </div>
      </div>

      <div class="unigrid--row" ng-if="showExercise(trainingExercise.exerciseId).aufbau">
        <div class="brick brick--24">
          <span class="fake-label">Aufbau</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).aufbau)"></span>
        </div>
      </div>

      <div class="unigrid--row" ng-if="showExercise(trainingExercise.exerciseId).coaching">
        <div class="brick brick--24">
          <span class="fake-label">Coaching</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).coaching)"></span>
        </div>
      </div>

      <div class="unigrid--row" ng-if="showExercise(trainingExercise.exerciseId).variationen">
        <div class="brick brick--24">
          <span class="fake-label">Variationen</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).variationen)"></span>
        </div>
      </div>

      <div class="unigrid--row" ng-if="trainingExercise.bemerkungen">
        <div class="brick brick--24">
          <span class="fake-label">Bemerkungen</span>
          <div class="fake-input" ng-bind-html="convertToHtml(trainingExercise.bemerkungen)"></div>
        </div>
      </div>

      <hr />
    </div>
  </div>


<div class="unigrid--row training__toolbar">
  <div class="brick brick--3">
    <button type="submit" ui-sref="collections/create.step1({collectionId: collection.$id})">Bearbeiten</button>
  </div>
  <div class="brick brick--21">
    <button ng-click="makePDF('open')">Vorschau</button>
    <button ng-click="makePDF('print')">Drucken</button>
    <button ng-click="makePDF('download')">Herunterladen</button>
  </div>
</div>
