<div class="unigrid--row">
  <div class="brick brick--12">
    <h1>collections</h1>
  </div>
  <div class="brick brick--12 align--right">
    <button ui-sref="trainings">back</button>
  </div>
</div>

  <div class="has-toolbar collection">
    <h2>{{training.titel}}</h2>
    <div class="exercise" ng-repeat="trainingExercise in training.exercises track by $index">
      <div class="unigrid--row">
        <div class="brick brick--24">
          <span class="fake-label">Trainingsinhalt</span>
          <div class="fake-input">
            <span ng-repeat="tags in trainingExercise.content">{{ tags.text }}<span ng-if="!$last">, </span></span>
          </div>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--12">
          <span class="fake-label">Grafik</span>
          <img class="collection__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}"/>
        </div>
        <div class="brick brick--12">
          <span class="fake-label">Beschreibung</span>
          <span class="fake-input"
                ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).description)"></span>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--24">
          <span class="fake-label">Aufbau</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).aufbau)"></span>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--24">
          <span class="fake-label">Coaching</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).coaching)"></span>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--24">
          <span class="fake-label">Variationen</span>
          <span class="fake-input" ng-bind-html="convertToHtml(showExercise(trainingExercise.exerciseId).variationen)"></span>
        </div>
      </div>

      <div class="unigrid--row">
        <div class="brick brick--24">
          <div class="form-group">
            <label for="trainingExercise.bemerkungen">Bemerkungen</label>
            <textarea rows="3" class="form-control" id="trainingExercise.bemerkungen"
                      ng-model="trainingExercise.bemerkungen"
                      ng-if="!showHtmlText"></textarea>
            <div ng-bind-html="convertToHtml(trainingExercise.bemerkungen)" ng-show="showHtmlText"
                 class="fake-input"></div>
          </div>
        </div>
      </div>

    </div>
  </div>


<div class="unigrid--row training__toolbar">
  <div class="brick brick--3">
    <button type="submit" ui-sref="collections/create.step1({collectionId: collection.$id})">Bearbeiten</button>
  </div>
  <div class="brick brick--21">
    <button>Drucken</button>
    <button>Herunterladen</button>
  </div>
</div>
