// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Montserrat';
}

// link
a,
a:visited {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #ccc;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover {
  color: #000;
  box-shadow: inset 0 -2px 0 #999;
}

.btn-toolbar,
.btn-toolbar:hover {
  box-shadow: none;
  border-radius: 5px;
  display: block;
  padding: 5px;
  text-align: center;
}
.btn-toolbar:hover {
  background: #ccc;
}

// reset bootstrap
.container {
  padding: 0;
}
.navbar {
  border-radius: 0;
  // reset unigrid
  height: auto !important;
}
.navbar-brand,
.navbar-brand:hover {
  float: none;
  height: auto;
  padding: 0;
  box-shadow: none;
}
.navbar > .container .navbar-brand {
  margin-left: 0;
}
.navbar-nav a {
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.navbar-nav a:hover {
  color: #adadad;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 #adadad;
}
.fake-label {
  width: 100%;
  display: block;
  font-weight: 700;
  padding: 6px 0;
  line-height: 23px;
}
.fake-label-margin {
  margin-top: 35px;
}
.fake-input {
  width: calc(100% - 12px);
  display: block;
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px;
  line-height: 23px;
}
.fake-input * {
  margin: 0;
}
.img--auto {
  height: auto !important;
}
.footer-fixed {
  margin-bottom: 40px !important;
}
.footer {
  padding-top: 5px;
}
.form-control {
  font-family: 'Montserrat';
}

/* tags */
tags-input .host {
  margin: 0;
}
tags-input .tags {
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px;
  line-height: 23px;
}
tags-input .tags .tag-item {
  margin: 0 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font-family: 'Montserrat';
  height: 26px;
  line-height: 23px;
  border: 1px solid #acacac;
  border-radius: 0;
  background: silver;
}
tags-input .tags .tag-item.selected {
  background: #ff5c5c;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 0 2px;
  padding: 0 0 0 5px;
  float: left;
  height: 26px;
  font-family: 'Montserrat';
}

/* upload */
.upload {
  height:100%;
  width: 100%;
  position: relative;
}
.upload__image {
  max-height: calc(100% - 48px);
  width: 100%;
}
.upload__thumb {
  height: 50%;
  position: absolute;
  bottom: 52px;
  right: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.upload__toolbar {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid black;
  bottom: 0;
  width: calc(100% - 12px);
  padding: 6px;
}

/* forms */
.form-group-full-height {
  height:100%;
}
.form-full-height {
  height: calc(100% - 48px);
}
.form-group-half-height {
  height: calc(50% - 10px);
}
.form-half-height {
  height: calc(100% - 38px);
}

/* trainings */
.training__action {
  display: none;
  position: absolute;
  left: -55px;
  width: 45px;
  padding: 5px;
  background: #eeeeee;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.training__exercise {
  position: relative;
}
.training__exercise:hover {
  background: #eeeeee;
  transition: background-color 0.5s ease;
}
.training__exercise:hover .training__action {
  display: block;
  transition: all 0.5s ease;
}
.training p,
.exercises p,
.training__exercise p {
  margin: 0;
}
.training .fake-label,
.exercises .fake-label,
.training__exercise .fake-label {
  padding-bottom: 0;
}
.training__exercise-image,
.collection__exercise-image {
  width: 100%;
  max-height: 100% !important;
  height: auto !important;
}
.fancybox > .training__exercise-image {
  height: 100%;
}
.collection__exercise-image {
  border: 2px solid black;
}
.training__toolbar {
  position: fixed;
  bottom: 45px;
  background: #eeeeee;
}
.training__toolbar button {
  margin: 0 5px;
}
.has-toolbar {
  margin-bottom: 55px;
}
.training__header .brick,
.exercises__header .brick {
  height: auto;
  min-height: 0;
}
.exercises__title {
  font-weight: 700;
}
.exercises--item {
  height: auto;
  min-height: 50px;
}

/* divers */
.align--right {
  text-align: right;
}
.tag-item {
  margin: 0 2px;
  padding: 0 5px;
  display: inline-block;
  font-family: 'Montserrat';
  height: 26px;
  line-height: 23px;
  border: 1px solid #acacac;
  border-radius: 0;
  background: silver;
}
hr.narrow {
  margin: 6px 0;
}
hr.invisible {
  border-color: transparent;
}
button.narrow,
.btn-default.narrow {
  padding: 3px 6px;
}
a.wizard {
  width:25px;
  height:25px;
  border-radius:12.5px;
  font-size:12px;
  color:#fff;
  line-height:25px;
  text-align:center;
  background:#000;
  display: inline-block;
  text-decoration: none;
}
a.wizard.active {
  background: silver;
}
a.wizard:hover {
  background: #e5e5e5;
}

.ghost {
  opacity: .5;
  background: #C8EBFB;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
