// bower:scss
// endbower

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Montserrat';
}

// reset bootstrap
.container {
  padding: 0;
}
.navbar {
  border-radius: 0;
  // reset unigrid
  height: auto !important;
}
.navbar-brand {
  float: none;
  height: auto;
  padding: 0;
}
.navbar > .container .navbar-brand {
  margin-left: 0;
}
.fake-label {
  width: 100%;
  display: block;
  font-weight: 700;
  padding: 6px 0;
  line-height: 23px;
}
.fake-input {
  width: calc(100% - 12px);
  display: block;
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px;
  line-height: 23px;
}
.fake-input * {
  margin: 0;
}
.img--auto {
  height: auto !important;
}
.footer-fixed {
  margin-bottom: 40px !important;
}
.footer {
  padding-top: 5px;
}

/* tags */
tags-input .host {
  margin: 0;
}
tags-input .tags {
  padding: 4px;
  border: 2px solid #333;
  font-size: 14px;
  line-height: 23px;
}
tags-input .tags .tag-item {
  margin: 0 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font-family: 'Montserrat';
  height: 26px;
  line-height: 23px;
  border: 1px solid #acacac;
  border-radius: 0;
  background: silver;
}
tags-input .tags .tag-item.selected {
  background: #ff5c5c;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 0 2px;
  padding: 0 0 0 5px;
  float: left;
  height: 26px;
  font-family: 'Montserrat';
}

/* upload */
.upload {
  height:100%;
  width: 100%;
  position: relative;
}
.upload__image {
  max-height: calc(100% - 48px);
  width: 100%;
}
.upload__thumb {
  height: 50%;
  position: absolute;
  bottom: 52px;
  right: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.upload__toolbar {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid black;
  bottom: 0;
  width: calc(100% - 12px);
  padding: 6px;
}

/* forms */
.form-group-full-height {
  height:100%;
}
.form-full-height {
  height: calc(100% - 48px);
}
.form-group-half-height {
  height: calc(50% - 10px);
}
.form-half-height {
  height: calc(100% - 38px);
}

/* trainings */
/*.training__exercise-image,
.brick > img.training__exercise-image {
  width: auto;
}*/
.training__exercise p {
  margin: 0;
}

.fancybox > .training__exercise-image {
  height: 100%;
}

/* divers */
.align--right {
  text-align: right;
}
.tag-item {
  margin: 0 2px;
  padding: 0 5px;
  display: inline-block;
  font-family: 'Montserrat';
  height: 26px;
  line-height: 23px;
  border: 1px solid #acacac;
  border-radius: 0;
  background: silver;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
