/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
/* --------------------------------------------------------------

   _typography.scss
   * Sets up some sensible default typography.

-------------------------------------------------------------- */
html {
  font-size: 100.01%; }

body {
  font-size: 14px;
  color: #333;
  line-height: 23px; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }
