/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-CORE
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-TYPO
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-FORMS
\*------------------------------------*/
/*------------------------------------*\
  #VARIABLES-PIKTOS
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_REGULAR
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MOBILE
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MISC
\*------------------------------------*/
/*------------------------------------*\
  #UNIGRID-CORE
\*------------------------------------*/
.brick {
  margin: 5px;
  padding: 4px 4px;
  min-height: 26px; }

.brick--inverse {
  background: #000;
  color: #fff; }

.brick--hide,
.brick-mobile--show {
  display: none; }

.brick--show {
  display: flex; }

.brick > img {
  width: 100%;
  max-height: 100%; }

.unigrid--col > .brick > img {
  vertical-align: top;
  width: auto; }

.unigrid--col {
  height: 100%;
  width: 100%;
  padding: 0; }

.unigrid--row {
  width: 100%;
  padding: 0; }

img.brick,
.brick--img {
  vertical-align: top;
  padding: 0; }

.unigrid--col > img.brick {
  width: auto; }

hr {
  margin: 24px 0;
  border: 1px solid #000000; }

.container {
  max-width: 1190px;
  width: 1190px;
  height: 100%;
  margin: 0 auto; }

/*------------------------------------*\
  #DESKTOP-UNIGRID
\*------------------------------------*/
@media only screen and (min-width: 1024px) {
  .brick:first-child,
  .brick.first {
    margin-left: 0; }

  .brick:last-child,
  .brick.last {
    margin-right: 0; }

  .unigrid--row > .unigrid--col.brick:last-child,
  .unigrid--row > .unigrid--col.brick.last {
    margin-left: 5px; }

  img.brick,
  .brick > img,
  .brick--img {
    height: 100%; }

  /*------------------------------------*\
    #GRID-ROW
  \*------------------------------------*/
  .unigrid--row {
    width: 1190px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; }

  .unigrid--row > .unigrid--col {
    padding: 0;
    margin: 0;
    max-width: 100%; }

  .brick--1 {
    min-height: 32px;
    width: 32px;
    max-width: 32px;
    flex-basis: 32px; }

  .unigrid--col.brick--1,
  .unigrid--row.brick--1,
  .brick--img.brick--1,
  img.brick--1 {
    width: 40px;
    max-width: 40px;
    flex-basis: 40px; }

  .prepend--1 {
    margin-left: 55px !important; }

  .first.prepend--1,
  .brick:first-child.prepend--1 {
    margin-left: 50px !important; }

  .append--1 {
    margin-right: 55px !important; }

  .last.append--1,
  .brick:last-child.append--1 {
    margin-right: 50px !important; }

  .brick--2 {
    min-height: 32px;
    width: 82px;
    max-width: 82px;
    flex-basis: 82px; }

  .unigrid--col.brick--2,
  .unigrid--row.brick--2,
  .brick--img.brick--2,
  img.brick--2 {
    width: 90px;
    max-width: 90px;
    flex-basis: 90px; }

  .prepend--2 {
    margin-left: 105px !important; }

  .first.prepend--2,
  .brick:first-child.prepend--2 {
    margin-left: 100px !important; }

  .append--2 {
    margin-right: 105px !important; }

  .last.append--2,
  .brick:last-child.append--2 {
    margin-right: 100px !important; }

  .brick--3 {
    min-height: 32px;
    width: 132px;
    max-width: 132px;
    flex-basis: 132px; }

  .unigrid--col.brick--3,
  .unigrid--row.brick--3,
  .brick--img.brick--3,
  img.brick--3 {
    width: 140px;
    max-width: 140px;
    flex-basis: 140px; }

  .prepend--3 {
    margin-left: 155px !important; }

  .first.prepend--3,
  .brick:first-child.prepend--3 {
    margin-left: 150px !important; }

  .append--3 {
    margin-right: 155px !important; }

  .last.append--3,
  .brick:last-child.append--3 {
    margin-right: 150px !important; }

  .brick--4 {
    min-height: 32px;
    width: 182px;
    max-width: 182px;
    flex-basis: 182px; }

  .unigrid--col.brick--4,
  .unigrid--row.brick--4,
  .brick--img.brick--4,
  img.brick--4 {
    width: 190px;
    max-width: 190px;
    flex-basis: 190px; }

  .prepend--4 {
    margin-left: 205px !important; }

  .first.prepend--4,
  .brick:first-child.prepend--4 {
    margin-left: 200px !important; }

  .append--4 {
    margin-right: 205px !important; }

  .last.append--4,
  .brick:last-child.append--4 {
    margin-right: 200px !important; }

  .brick--5 {
    min-height: 32px;
    width: 232px;
    max-width: 232px;
    flex-basis: 232px; }

  .unigrid--col.brick--5,
  .unigrid--row.brick--5,
  .brick--img.brick--5,
  img.brick--5 {
    width: 240px;
    max-width: 240px;
    flex-basis: 240px; }

  .prepend--5 {
    margin-left: 255px !important; }

  .first.prepend--5,
  .brick:first-child.prepend--5 {
    margin-left: 250px !important; }

  .append--5 {
    margin-right: 255px !important; }

  .last.append--5,
  .brick:last-child.append--5 {
    margin-right: 250px !important; }

  .brick--6 {
    min-height: 32px;
    width: 282px;
    max-width: 282px;
    flex-basis: 282px; }

  .unigrid--col.brick--6,
  .unigrid--row.brick--6,
  .brick--img.brick--6,
  img.brick--6 {
    width: 290px;
    max-width: 290px;
    flex-basis: 290px; }

  .prepend--6 {
    margin-left: 305px !important; }

  .first.prepend--6,
  .brick:first-child.prepend--6 {
    margin-left: 300px !important; }

  .append--6 {
    margin-right: 305px !important; }

  .last.append--6,
  .brick:last-child.append--6 {
    margin-right: 300px !important; }

  .brick--7 {
    min-height: 32px;
    width: 332px;
    max-width: 332px;
    flex-basis: 332px; }

  .unigrid--col.brick--7,
  .unigrid--row.brick--7,
  .brick--img.brick--7,
  img.brick--7 {
    width: 340px;
    max-width: 340px;
    flex-basis: 340px; }

  .prepend--7 {
    margin-left: 355px !important; }

  .first.prepend--7,
  .brick:first-child.prepend--7 {
    margin-left: 350px !important; }

  .append--7 {
    margin-right: 355px !important; }

  .last.append--7,
  .brick:last-child.append--7 {
    margin-right: 350px !important; }

  .brick--8 {
    min-height: 32px;
    width: 382px;
    max-width: 382px;
    flex-basis: 382px; }

  .unigrid--col.brick--8,
  .unigrid--row.brick--8,
  .brick--img.brick--8,
  img.brick--8 {
    width: 390px;
    max-width: 390px;
    flex-basis: 390px; }

  .prepend--8 {
    margin-left: 405px !important; }

  .first.prepend--8,
  .brick:first-child.prepend--8 {
    margin-left: 400px !important; }

  .append--8 {
    margin-right: 405px !important; }

  .last.append--8,
  .brick:last-child.append--8 {
    margin-right: 400px !important; }

  .brick--9 {
    min-height: 32px;
    width: 432px;
    max-width: 432px;
    flex-basis: 432px; }

  .unigrid--col.brick--9,
  .unigrid--row.brick--9,
  .brick--img.brick--9,
  img.brick--9 {
    width: 440px;
    max-width: 440px;
    flex-basis: 440px; }

  .prepend--9 {
    margin-left: 455px !important; }

  .first.prepend--9,
  .brick:first-child.prepend--9 {
    margin-left: 450px !important; }

  .append--9 {
    margin-right: 455px !important; }

  .last.append--9,
  .brick:last-child.append--9 {
    margin-right: 450px !important; }

  .brick--10 {
    min-height: 32px;
    width: 482px;
    max-width: 482px;
    flex-basis: 482px; }

  .unigrid--col.brick--10,
  .unigrid--row.brick--10,
  .brick--img.brick--10,
  img.brick--10 {
    width: 490px;
    max-width: 490px;
    flex-basis: 490px; }

  .prepend--10 {
    margin-left: 505px !important; }

  .first.prepend--10,
  .brick:first-child.prepend--10 {
    margin-left: 500px !important; }

  .append--10 {
    margin-right: 505px !important; }

  .last.append--10,
  .brick:last-child.append--10 {
    margin-right: 500px !important; }

  .brick--11 {
    min-height: 32px;
    width: 532px;
    max-width: 532px;
    flex-basis: 532px; }

  .unigrid--col.brick--11,
  .unigrid--row.brick--11,
  .brick--img.brick--11,
  img.brick--11 {
    width: 540px;
    max-width: 540px;
    flex-basis: 540px; }

  .prepend--11 {
    margin-left: 555px !important; }

  .first.prepend--11,
  .brick:first-child.prepend--11 {
    margin-left: 550px !important; }

  .append--11 {
    margin-right: 555px !important; }

  .last.append--11,
  .brick:last-child.append--11 {
    margin-right: 550px !important; }

  .brick--12 {
    min-height: 32px;
    width: 582px;
    max-width: 582px;
    flex-basis: 582px; }

  .unigrid--col.brick--12,
  .unigrid--row.brick--12,
  .brick--img.brick--12,
  img.brick--12 {
    width: 590px;
    max-width: 590px;
    flex-basis: 590px; }

  .prepend--12 {
    margin-left: 605px !important; }

  .first.prepend--12,
  .brick:first-child.prepend--12 {
    margin-left: 600px !important; }

  .append--12 {
    margin-right: 605px !important; }

  .last.append--12,
  .brick:last-child.append--12 {
    margin-right: 600px !important; }

  .brick--13 {
    min-height: 32px;
    width: 632px;
    max-width: 632px;
    flex-basis: 632px; }

  .unigrid--col.brick--13,
  .unigrid--row.brick--13,
  .brick--img.brick--13,
  img.brick--13 {
    width: 640px;
    max-width: 640px;
    flex-basis: 640px; }

  .prepend--13 {
    margin-left: 655px !important; }

  .first.prepend--13,
  .brick:first-child.prepend--13 {
    margin-left: 650px !important; }

  .append--13 {
    margin-right: 655px !important; }

  .last.append--13,
  .brick:last-child.append--13 {
    margin-right: 650px !important; }

  .brick--14 {
    min-height: 32px;
    width: 682px;
    max-width: 682px;
    flex-basis: 682px; }

  .unigrid--col.brick--14,
  .unigrid--row.brick--14,
  .brick--img.brick--14,
  img.brick--14 {
    width: 690px;
    max-width: 690px;
    flex-basis: 690px; }

  .prepend--14 {
    margin-left: 705px !important; }

  .first.prepend--14,
  .brick:first-child.prepend--14 {
    margin-left: 700px !important; }

  .append--14 {
    margin-right: 705px !important; }

  .last.append--14,
  .brick:last-child.append--14 {
    margin-right: 700px !important; }

  .brick--15 {
    min-height: 32px;
    width: 732px;
    max-width: 732px;
    flex-basis: 732px; }

  .unigrid--col.brick--15,
  .unigrid--row.brick--15,
  .brick--img.brick--15,
  img.brick--15 {
    width: 740px;
    max-width: 740px;
    flex-basis: 740px; }

  .prepend--15 {
    margin-left: 755px !important; }

  .first.prepend--15,
  .brick:first-child.prepend--15 {
    margin-left: 750px !important; }

  .append--15 {
    margin-right: 755px !important; }

  .last.append--15,
  .brick:last-child.append--15 {
    margin-right: 750px !important; }

  .brick--16 {
    min-height: 32px;
    width: 782px;
    max-width: 782px;
    flex-basis: 782px; }

  .unigrid--col.brick--16,
  .unigrid--row.brick--16,
  .brick--img.brick--16,
  img.brick--16 {
    width: 790px;
    max-width: 790px;
    flex-basis: 790px; }

  .prepend--16 {
    margin-left: 805px !important; }

  .first.prepend--16,
  .brick:first-child.prepend--16 {
    margin-left: 800px !important; }

  .append--16 {
    margin-right: 805px !important; }

  .last.append--16,
  .brick:last-child.append--16 {
    margin-right: 800px !important; }

  .brick--17 {
    min-height: 32px;
    width: 832px;
    max-width: 832px;
    flex-basis: 832px; }

  .unigrid--col.brick--17,
  .unigrid--row.brick--17,
  .brick--img.brick--17,
  img.brick--17 {
    width: 840px;
    max-width: 840px;
    flex-basis: 840px; }

  .prepend--17 {
    margin-left: 855px !important; }

  .first.prepend--17,
  .brick:first-child.prepend--17 {
    margin-left: 850px !important; }

  .append--17 {
    margin-right: 855px !important; }

  .last.append--17,
  .brick:last-child.append--17 {
    margin-right: 850px !important; }

  .brick--18 {
    min-height: 32px;
    width: 882px;
    max-width: 882px;
    flex-basis: 882px; }

  .unigrid--col.brick--18,
  .unigrid--row.brick--18,
  .brick--img.brick--18,
  img.brick--18 {
    width: 890px;
    max-width: 890px;
    flex-basis: 890px; }

  .prepend--18 {
    margin-left: 905px !important; }

  .first.prepend--18,
  .brick:first-child.prepend--18 {
    margin-left: 900px !important; }

  .append--18 {
    margin-right: 905px !important; }

  .last.append--18,
  .brick:last-child.append--18 {
    margin-right: 900px !important; }

  .brick--19 {
    min-height: 32px;
    width: 932px;
    max-width: 932px;
    flex-basis: 932px; }

  .unigrid--col.brick--19,
  .unigrid--row.brick--19,
  .brick--img.brick--19,
  img.brick--19 {
    width: 940px;
    max-width: 940px;
    flex-basis: 940px; }

  .prepend--19 {
    margin-left: 955px !important; }

  .first.prepend--19,
  .brick:first-child.prepend--19 {
    margin-left: 950px !important; }

  .append--19 {
    margin-right: 955px !important; }

  .last.append--19,
  .brick:last-child.append--19 {
    margin-right: 950px !important; }

  .brick--20 {
    min-height: 32px;
    width: 982px;
    max-width: 982px;
    flex-basis: 982px; }

  .unigrid--col.brick--20,
  .unigrid--row.brick--20,
  .brick--img.brick--20,
  img.brick--20 {
    width: 990px;
    max-width: 990px;
    flex-basis: 990px; }

  .prepend--20 {
    margin-left: 1005px !important; }

  .first.prepend--20,
  .brick:first-child.prepend--20 {
    margin-left: 1000px !important; }

  .append--20 {
    margin-right: 1005px !important; }

  .last.append--20,
  .brick:last-child.append--20 {
    margin-right: 1000px !important; }

  .brick--21 {
    min-height: 32px;
    width: 1032px;
    max-width: 1032px;
    flex-basis: 1032px; }

  .unigrid--col.brick--21,
  .unigrid--row.brick--21,
  .brick--img.brick--21,
  img.brick--21 {
    width: 1040px;
    max-width: 1040px;
    flex-basis: 1040px; }

  .prepend--21 {
    margin-left: 1055px !important; }

  .first.prepend--21,
  .brick:first-child.prepend--21 {
    margin-left: 1050px !important; }

  .append--21 {
    margin-right: 1055px !important; }

  .last.append--21,
  .brick:last-child.append--21 {
    margin-right: 1050px !important; }

  .brick--22 {
    min-height: 32px;
    width: 1082px;
    max-width: 1082px;
    flex-basis: 1082px; }

  .unigrid--col.brick--22,
  .unigrid--row.brick--22,
  .brick--img.brick--22,
  img.brick--22 {
    width: 1090px;
    max-width: 1090px;
    flex-basis: 1090px; }

  .prepend--22 {
    margin-left: 1105px !important; }

  .first.prepend--22,
  .brick:first-child.prepend--22 {
    margin-left: 1100px !important; }

  .append--22 {
    margin-right: 1105px !important; }

  .last.append--22,
  .brick:last-child.append--22 {
    margin-right: 1100px !important; }

  .brick--23 {
    min-height: 32px;
    width: 1132px;
    max-width: 1132px;
    flex-basis: 1132px; }

  .unigrid--col.brick--23,
  .unigrid--row.brick--23,
  .brick--img.brick--23,
  img.brick--23 {
    width: 1140px;
    max-width: 1140px;
    flex-basis: 1140px; }

  .prepend--23 {
    margin-left: 1155px !important; }

  .first.prepend--23,
  .brick:first-child.prepend--23 {
    margin-left: 1150px !important; }

  .append--23 {
    margin-right: 1155px !important; }

  .last.append--23,
  .brick:last-child.append--23 {
    margin-right: 1150px !important; }

  .brick--24 {
    min-height: 32px;
    width: 1182px;
    max-width: 1182px;
    flex-basis: 1182px; }

  .unigrid--col.brick--24,
  .unigrid--row.brick--24,
  .brick--img.brick--24,
  img.brick--24 {
    width: 1190px;
    max-width: 1190px;
    flex-basis: 1190px; }

  .prepend--24 {
    margin-left: 1205px !important; }

  .first.prepend--24,
  .brick:first-child.prepend--24 {
    margin-left: 1200px !important; }

  .append--24 {
    margin-right: 1205px !important; }

  .last.append--24,
  .brick:last-child.append--24 {
    margin-right: 1200px !important; }

  /*------------------------------------*\
    #GRID-COLUMN
  \*------------------------------------*/
  .unigrid--col {
    max-height: 100%;
    width: 100%;
    padding: 0; }

  .unigrid--col > .brick {
    margin: 5px 0;
    padding: 4px 4px;
    max-width: calc(100% - 8px);
    display: inline-block; }

  .unigrid--col > img.brick,
  .unigrid--col > .brick--img {
    max-width: calc(100% - 10px); }

  .unigrid--col > .brick.unigrid--row {
    display: flex; }

  .unigrid--col > .unigrid--row {
    padding: 0;
    margin: 0;
    max-width: 100%; }

  hr.brick--col {
    background: #000;
    height: 50px;
    max-height: 50px;
    width: 100%; }

  .brick--col--1,
  .brick--col--1 > .brick {
    height: 32px;
    max-height: 32px;
    width: 100%; }

  .brick--col--1.unigrid--row {
    height: 50px;
    max-height: 50px; }

  .brick--col--1 > .brick--img,
  .brick--col--1 > img.brick,
  .unigrid--col > img.brick--col--1,
  .unigrid--col > .brick--img.brick--col--1 {
    height: 40px;
    max-height: 40px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--1,
  .brick.unigrid--col > .brick:first-child.prepend--col--1,
  .brick.unigrid--col > .brick.first.prepend--col--1 {
    margin-top: 55px; }

  .unigrid--col > .brick.append--col--1,
  .brick.unigrid--col > .brick:last-child.append--col--1,
  .brick.unigrid--col > .brick.last.append--col--1 {
    margin-bottom: 55px; }

  .brick--col--2,
  .brick--col--2 > .brick {
    height: 82px;
    max-height: 82px;
    width: 100%; }

  .brick--col--2.unigrid--row {
    height: 100px;
    max-height: 100px; }

  .brick--col--2 > .brick--img,
  .brick--col--2 > img.brick,
  .unigrid--col > img.brick--col--2,
  .unigrid--col > .brick--img.brick--col--2 {
    height: 90px;
    max-height: 90px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--2,
  .brick.unigrid--col > .brick:first-child.prepend--col--2,
  .brick.unigrid--col > .brick.first.prepend--col--2 {
    margin-top: 105px; }

  .unigrid--col > .brick.append--col--2,
  .brick.unigrid--col > .brick:last-child.append--col--2,
  .brick.unigrid--col > .brick.last.append--col--2 {
    margin-bottom: 105px; }

  .brick--col--3,
  .brick--col--3 > .brick {
    height: 132px;
    max-height: 132px;
    width: 100%; }

  .brick--col--3.unigrid--row {
    height: 150px;
    max-height: 150px; }

  .brick--col--3 > .brick--img,
  .brick--col--3 > img.brick,
  .unigrid--col > img.brick--col--3,
  .unigrid--col > .brick--img.brick--col--3 {
    height: 140px;
    max-height: 140px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--3,
  .brick.unigrid--col > .brick:first-child.prepend--col--3,
  .brick.unigrid--col > .brick.first.prepend--col--3 {
    margin-top: 155px; }

  .unigrid--col > .brick.append--col--3,
  .brick.unigrid--col > .brick:last-child.append--col--3,
  .brick.unigrid--col > .brick.last.append--col--3 {
    margin-bottom: 155px; }

  .brick--col--4,
  .brick--col--4 > .brick {
    height: 182px;
    max-height: 182px;
    width: 100%; }

  .brick--col--4.unigrid--row {
    height: 200px;
    max-height: 200px; }

  .brick--col--4 > .brick--img,
  .brick--col--4 > img.brick,
  .unigrid--col > img.brick--col--4,
  .unigrid--col > .brick--img.brick--col--4 {
    height: 190px;
    max-height: 190px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--4,
  .brick.unigrid--col > .brick:first-child.prepend--col--4,
  .brick.unigrid--col > .brick.first.prepend--col--4 {
    margin-top: 205px; }

  .unigrid--col > .brick.append--col--4,
  .brick.unigrid--col > .brick:last-child.append--col--4,
  .brick.unigrid--col > .brick.last.append--col--4 {
    margin-bottom: 205px; }

  .brick--col--5,
  .brick--col--5 > .brick {
    height: 232px;
    max-height: 232px;
    width: 100%; }

  .brick--col--5.unigrid--row {
    height: 250px;
    max-height: 250px; }

  .brick--col--5 > .brick--img,
  .brick--col--5 > img.brick,
  .unigrid--col > img.brick--col--5,
  .unigrid--col > .brick--img.brick--col--5 {
    height: 240px;
    max-height: 240px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--5,
  .brick.unigrid--col > .brick:first-child.prepend--col--5,
  .brick.unigrid--col > .brick.first.prepend--col--5 {
    margin-top: 255px; }

  .unigrid--col > .brick.append--col--5,
  .brick.unigrid--col > .brick:last-child.append--col--5,
  .brick.unigrid--col > .brick.last.append--col--5 {
    margin-bottom: 255px; }

  .brick--col--6,
  .brick--col--6 > .brick {
    height: 282px;
    max-height: 282px;
    width: 100%; }

  .brick--col--6.unigrid--row {
    height: 300px;
    max-height: 300px; }

  .brick--col--6 > .brick--img,
  .brick--col--6 > img.brick,
  .unigrid--col > img.brick--col--6,
  .unigrid--col > .brick--img.brick--col--6 {
    height: 290px;
    max-height: 290px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--6,
  .brick.unigrid--col > .brick:first-child.prepend--col--6,
  .brick.unigrid--col > .brick.first.prepend--col--6 {
    margin-top: 305px; }

  .unigrid--col > .brick.append--col--6,
  .brick.unigrid--col > .brick:last-child.append--col--6,
  .brick.unigrid--col > .brick.last.append--col--6 {
    margin-bottom: 305px; }

  .brick--col--7,
  .brick--col--7 > .brick {
    height: 332px;
    max-height: 332px;
    width: 100%; }

  .brick--col--7.unigrid--row {
    height: 350px;
    max-height: 350px; }

  .brick--col--7 > .brick--img,
  .brick--col--7 > img.brick,
  .unigrid--col > img.brick--col--7,
  .unigrid--col > .brick--img.brick--col--7 {
    height: 340px;
    max-height: 340px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--7,
  .brick.unigrid--col > .brick:first-child.prepend--col--7,
  .brick.unigrid--col > .brick.first.prepend--col--7 {
    margin-top: 355px; }

  .unigrid--col > .brick.append--col--7,
  .brick.unigrid--col > .brick:last-child.append--col--7,
  .brick.unigrid--col > .brick.last.append--col--7 {
    margin-bottom: 355px; }

  .brick--col--8,
  .brick--col--8 > .brick {
    height: 382px;
    max-height: 382px;
    width: 100%; }

  .brick--col--8.unigrid--row {
    height: 400px;
    max-height: 400px; }

  .brick--col--8 > .brick--img,
  .brick--col--8 > img.brick,
  .unigrid--col > img.brick--col--8,
  .unigrid--col > .brick--img.brick--col--8 {
    height: 390px;
    max-height: 390px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--8,
  .brick.unigrid--col > .brick:first-child.prepend--col--8,
  .brick.unigrid--col > .brick.first.prepend--col--8 {
    margin-top: 405px; }

  .unigrid--col > .brick.append--col--8,
  .brick.unigrid--col > .brick:last-child.append--col--8,
  .brick.unigrid--col > .brick.last.append--col--8 {
    margin-bottom: 405px; }

  .brick--col--9,
  .brick--col--9 > .brick {
    height: 432px;
    max-height: 432px;
    width: 100%; }

  .brick--col--9.unigrid--row {
    height: 450px;
    max-height: 450px; }

  .brick--col--9 > .brick--img,
  .brick--col--9 > img.brick,
  .unigrid--col > img.brick--col--9,
  .unigrid--col > .brick--img.brick--col--9 {
    height: 440px;
    max-height: 440px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--9,
  .brick.unigrid--col > .brick:first-child.prepend--col--9,
  .brick.unigrid--col > .brick.first.prepend--col--9 {
    margin-top: 455px; }

  .unigrid--col > .brick.append--col--9,
  .brick.unigrid--col > .brick:last-child.append--col--9,
  .brick.unigrid--col > .brick.last.append--col--9 {
    margin-bottom: 455px; }

  .brick--col--10,
  .brick--col--10 > .brick {
    height: 482px;
    max-height: 482px;
    width: 100%; }

  .brick--col--10.unigrid--row {
    height: 500px;
    max-height: 500px; }

  .brick--col--10 > .brick--img,
  .brick--col--10 > img.brick,
  .unigrid--col > img.brick--col--10,
  .unigrid--col > .brick--img.brick--col--10 {
    height: 490px;
    max-height: 490px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--10,
  .brick.unigrid--col > .brick:first-child.prepend--col--10,
  .brick.unigrid--col > .brick.first.prepend--col--10 {
    margin-top: 505px; }

  .unigrid--col > .brick.append--col--10,
  .brick.unigrid--col > .brick:last-child.append--col--10,
  .brick.unigrid--col > .brick.last.append--col--10 {
    margin-bottom: 505px; }

  .brick--col--11,
  .brick--col--11 > .brick {
    height: 532px;
    max-height: 532px;
    width: 100%; }

  .brick--col--11.unigrid--row {
    height: 550px;
    max-height: 550px; }

  .brick--col--11 > .brick--img,
  .brick--col--11 > img.brick,
  .unigrid--col > img.brick--col--11,
  .unigrid--col > .brick--img.brick--col--11 {
    height: 540px;
    max-height: 540px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--11,
  .brick.unigrid--col > .brick:first-child.prepend--col--11,
  .brick.unigrid--col > .brick.first.prepend--col--11 {
    margin-top: 555px; }

  .unigrid--col > .brick.append--col--11,
  .brick.unigrid--col > .brick:last-child.append--col--11,
  .brick.unigrid--col > .brick.last.append--col--11 {
    margin-bottom: 555px; }

  .brick--col--12,
  .brick--col--12 > .brick {
    height: 582px;
    max-height: 582px;
    width: 100%; }

  .brick--col--12.unigrid--row {
    height: 600px;
    max-height: 600px; }

  .brick--col--12 > .brick--img,
  .brick--col--12 > img.brick,
  .unigrid--col > img.brick--col--12,
  .unigrid--col > .brick--img.brick--col--12 {
    height: 590px;
    max-height: 590px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--12,
  .brick.unigrid--col > .brick:first-child.prepend--col--12,
  .brick.unigrid--col > .brick.first.prepend--col--12 {
    margin-top: 605px; }

  .unigrid--col > .brick.append--col--12,
  .brick.unigrid--col > .brick:last-child.append--col--12,
  .brick.unigrid--col > .brick.last.append--col--12 {
    margin-bottom: 605px; }

  .brick--col--13,
  .brick--col--13 > .brick {
    height: 632px;
    max-height: 632px;
    width: 100%; }

  .brick--col--13.unigrid--row {
    height: 650px;
    max-height: 650px; }

  .brick--col--13 > .brick--img,
  .brick--col--13 > img.brick,
  .unigrid--col > img.brick--col--13,
  .unigrid--col > .brick--img.brick--col--13 {
    height: 640px;
    max-height: 640px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--13,
  .brick.unigrid--col > .brick:first-child.prepend--col--13,
  .brick.unigrid--col > .brick.first.prepend--col--13 {
    margin-top: 655px; }

  .unigrid--col > .brick.append--col--13,
  .brick.unigrid--col > .brick:last-child.append--col--13,
  .brick.unigrid--col > .brick.last.append--col--13 {
    margin-bottom: 655px; }

  .brick--col--14,
  .brick--col--14 > .brick {
    height: 682px;
    max-height: 682px;
    width: 100%; }

  .brick--col--14.unigrid--row {
    height: 700px;
    max-height: 700px; }

  .brick--col--14 > .brick--img,
  .brick--col--14 > img.brick,
  .unigrid--col > img.brick--col--14,
  .unigrid--col > .brick--img.brick--col--14 {
    height: 690px;
    max-height: 690px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--14,
  .brick.unigrid--col > .brick:first-child.prepend--col--14,
  .brick.unigrid--col > .brick.first.prepend--col--14 {
    margin-top: 705px; }

  .unigrid--col > .brick.append--col--14,
  .brick.unigrid--col > .brick:last-child.append--col--14,
  .brick.unigrid--col > .brick.last.append--col--14 {
    margin-bottom: 705px; }

  .brick--col--15,
  .brick--col--15 > .brick {
    height: 732px;
    max-height: 732px;
    width: 100%; }

  .brick--col--15.unigrid--row {
    height: 750px;
    max-height: 750px; }

  .brick--col--15 > .brick--img,
  .brick--col--15 > img.brick,
  .unigrid--col > img.brick--col--15,
  .unigrid--col > .brick--img.brick--col--15 {
    height: 740px;
    max-height: 740px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--15,
  .brick.unigrid--col > .brick:first-child.prepend--col--15,
  .brick.unigrid--col > .brick.first.prepend--col--15 {
    margin-top: 755px; }

  .unigrid--col > .brick.append--col--15,
  .brick.unigrid--col > .brick:last-child.append--col--15,
  .brick.unigrid--col > .brick.last.append--col--15 {
    margin-bottom: 755px; }

  .brick--col--16,
  .brick--col--16 > .brick {
    height: 782px;
    max-height: 782px;
    width: 100%; }

  .brick--col--16.unigrid--row {
    height: 800px;
    max-height: 800px; }

  .brick--col--16 > .brick--img,
  .brick--col--16 > img.brick,
  .unigrid--col > img.brick--col--16,
  .unigrid--col > .brick--img.brick--col--16 {
    height: 790px;
    max-height: 790px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--16,
  .brick.unigrid--col > .brick:first-child.prepend--col--16,
  .brick.unigrid--col > .brick.first.prepend--col--16 {
    margin-top: 805px; }

  .unigrid--col > .brick.append--col--16,
  .brick.unigrid--col > .brick:last-child.append--col--16,
  .brick.unigrid--col > .brick.last.append--col--16 {
    margin-bottom: 805px; }

  .brick--col--17,
  .brick--col--17 > .brick {
    height: 832px;
    max-height: 832px;
    width: 100%; }

  .brick--col--17.unigrid--row {
    height: 850px;
    max-height: 850px; }

  .brick--col--17 > .brick--img,
  .brick--col--17 > img.brick,
  .unigrid--col > img.brick--col--17,
  .unigrid--col > .brick--img.brick--col--17 {
    height: 840px;
    max-height: 840px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--17,
  .brick.unigrid--col > .brick:first-child.prepend--col--17,
  .brick.unigrid--col > .brick.first.prepend--col--17 {
    margin-top: 855px; }

  .unigrid--col > .brick.append--col--17,
  .brick.unigrid--col > .brick:last-child.append--col--17,
  .brick.unigrid--col > .brick.last.append--col--17 {
    margin-bottom: 855px; }

  .brick--col--18,
  .brick--col--18 > .brick {
    height: 882px;
    max-height: 882px;
    width: 100%; }

  .brick--col--18.unigrid--row {
    height: 900px;
    max-height: 900px; }

  .brick--col--18 > .brick--img,
  .brick--col--18 > img.brick,
  .unigrid--col > img.brick--col--18,
  .unigrid--col > .brick--img.brick--col--18 {
    height: 890px;
    max-height: 890px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--18,
  .brick.unigrid--col > .brick:first-child.prepend--col--18,
  .brick.unigrid--col > .brick.first.prepend--col--18 {
    margin-top: 905px; }

  .unigrid--col > .brick.append--col--18,
  .brick.unigrid--col > .brick:last-child.append--col--18,
  .brick.unigrid--col > .brick.last.append--col--18 {
    margin-bottom: 905px; }

  .brick--col--19,
  .brick--col--19 > .brick {
    height: 932px;
    max-height: 932px;
    width: 100%; }

  .brick--col--19.unigrid--row {
    height: 950px;
    max-height: 950px; }

  .brick--col--19 > .brick--img,
  .brick--col--19 > img.brick,
  .unigrid--col > img.brick--col--19,
  .unigrid--col > .brick--img.brick--col--19 {
    height: 940px;
    max-height: 940px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--19,
  .brick.unigrid--col > .brick:first-child.prepend--col--19,
  .brick.unigrid--col > .brick.first.prepend--col--19 {
    margin-top: 955px; }

  .unigrid--col > .brick.append--col--19,
  .brick.unigrid--col > .brick:last-child.append--col--19,
  .brick.unigrid--col > .brick.last.append--col--19 {
    margin-bottom: 955px; }

  .brick--col--20,
  .brick--col--20 > .brick {
    height: 982px;
    max-height: 982px;
    width: 100%; }

  .brick--col--20.unigrid--row {
    height: 1000px;
    max-height: 1000px; }

  .brick--col--20 > .brick--img,
  .brick--col--20 > img.brick,
  .unigrid--col > img.brick--col--20,
  .unigrid--col > .brick--img.brick--col--20 {
    height: 990px;
    max-height: 990px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--20,
  .brick.unigrid--col > .brick:first-child.prepend--col--20,
  .brick.unigrid--col > .brick.first.prepend--col--20 {
    margin-top: 1005px; }

  .unigrid--col > .brick.append--col--20,
  .brick.unigrid--col > .brick:last-child.append--col--20,
  .brick.unigrid--col > .brick.last.append--col--20 {
    margin-bottom: 1005px; }

  .brick--col--21,
  .brick--col--21 > .brick {
    height: 1032px;
    max-height: 1032px;
    width: 100%; }

  .brick--col--21.unigrid--row {
    height: 1050px;
    max-height: 1050px; }

  .brick--col--21 > .brick--img,
  .brick--col--21 > img.brick,
  .unigrid--col > img.brick--col--21,
  .unigrid--col > .brick--img.brick--col--21 {
    height: 1040px;
    max-height: 1040px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--21,
  .brick.unigrid--col > .brick:first-child.prepend--col--21,
  .brick.unigrid--col > .brick.first.prepend--col--21 {
    margin-top: 1055px; }

  .unigrid--col > .brick.append--col--21,
  .brick.unigrid--col > .brick:last-child.append--col--21,
  .brick.unigrid--col > .brick.last.append--col--21 {
    margin-bottom: 1055px; }

  .brick--col--22,
  .brick--col--22 > .brick {
    height: 1082px;
    max-height: 1082px;
    width: 100%; }

  .brick--col--22.unigrid--row {
    height: 1100px;
    max-height: 1100px; }

  .brick--col--22 > .brick--img,
  .brick--col--22 > img.brick,
  .unigrid--col > img.brick--col--22,
  .unigrid--col > .brick--img.brick--col--22 {
    height: 1090px;
    max-height: 1090px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--22,
  .brick.unigrid--col > .brick:first-child.prepend--col--22,
  .brick.unigrid--col > .brick.first.prepend--col--22 {
    margin-top: 1105px; }

  .unigrid--col > .brick.append--col--22,
  .brick.unigrid--col > .brick:last-child.append--col--22,
  .brick.unigrid--col > .brick.last.append--col--22 {
    margin-bottom: 1105px; }

  .brick--col--23,
  .brick--col--23 > .brick {
    height: 1132px;
    max-height: 1132px;
    width: 100%; }

  .brick--col--23.unigrid--row {
    height: 1150px;
    max-height: 1150px; }

  .brick--col--23 > .brick--img,
  .brick--col--23 > img.brick,
  .unigrid--col > img.brick--col--23,
  .unigrid--col > .brick--img.brick--col--23 {
    height: 1140px;
    max-height: 1140px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--23,
  .brick.unigrid--col > .brick:first-child.prepend--col--23,
  .brick.unigrid--col > .brick.first.prepend--col--23 {
    margin-top: 1155px; }

  .unigrid--col > .brick.append--col--23,
  .brick.unigrid--col > .brick:last-child.append--col--23,
  .brick.unigrid--col > .brick.last.append--col--23 {
    margin-bottom: 1155px; }

  .brick--col--24,
  .brick--col--24 > .brick {
    height: 1182px;
    max-height: 1182px;
    width: 100%; }

  .brick--col--24.unigrid--row {
    height: 1200px;
    max-height: 1200px; }

  .brick--col--24 > .brick--img,
  .brick--col--24 > img.brick,
  .unigrid--col > img.brick--col--24,
  .unigrid--col > .brick--img.brick--col--24 {
    height: 1190px;
    max-height: 1190px;
    padding: 0; }

  .unigrid--col > .brick.prepend--col--24,
  .brick.unigrid--col > .brick:first-child.prepend--col--24,
  .brick.unigrid--col > .brick.first.prepend--col--24 {
    margin-top: 1205px; }

  .unigrid--col > .brick.append--col--24,
  .brick.unigrid--col > .brick:last-child.append--col--24,
  .brick.unigrid--col > .brick.last.append--col--24 {
    margin-bottom: 1205px; }

  /*------------------------------------*\
    #GRID-ORDER
  \*------------------------------------*/
  .order--1 {
    order: 1; }

  .order--2 {
    order: 2; }

  .order--3 {
    order: 3; }

  .order--4 {
    order: 4; }

  .order--5 {
    order: 5; }

  .order--6 {
    order: 6; }

  .order--7 {
    order: 7; }

  .order--8 {
    order: 8; }

  .order--9 {
    order: 9; }

  .order--10 {
    order: 10; }

  .order--11 {
    order: 11; }

  .order--12 {
    order: 12; }

  .order--13 {
    order: 13; }

  .order--14 {
    order: 14; }

  .order--15 {
    order: 15; }

  .order--16 {
    order: 16; }

  .order--17 {
    order: 17; }

  .order--18 {
    order: 18; }

  .order--19 {
    order: 19; }

  .order--20 {
    order: 20; }

  .order--21 {
    order: 21; }

  .order--22 {
    order: 22; }

  .order--23 {
    order: 23; }

  .order--24 {
    order: 24; } }
/*------------------------------------*\
  #GRID-MIXINS_REGULAR
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MOBILE
\*------------------------------------*/
/*------------------------------------*\
  #GRID-MIXINS_MISC
\*------------------------------------*/
/*------------------------------------*\
  #UNIGRID-CORE
\*------------------------------------*/
.brick {
  margin: 5px;
  padding: 4px 4px;
  min-height: 26px; }

.brick--inverse {
  background: #000;
  color: #fff; }

.brick--hide,
.brick-mobile--show {
  display: none; }

.brick--show {
  display: flex; }

.brick > img {
  width: 100%;
  max-height: 100%; }

.unigrid--col > .brick > img {
  vertical-align: top;
  width: auto; }

.unigrid--col {
  height: 100%;
  width: 100%;
  padding: 0; }

.unigrid--row {
  width: 100%;
  padding: 0; }

img.brick,
.brick--img {
  vertical-align: top;
  padding: 0; }

.unigrid--col > img.brick {
  width: auto; }

hr {
  margin: 24px 0;
  border: 1px solid #000000; }

.container {
  max-width: 1190px;
  width: 1190px;
  height: 100%;
  margin: 0 auto; }

/*------------------------------------*\
  #MOBILE-UNIGRID
\*------------------------------------*/
@media only screen and (max-width: 767px) {
  .brick {
    max-width: 100%;
    width: 100%; }

  .brick-mobile--hide {
    display: none; }

  .brick-mobile--show {
    display: flex; }

  .container {
    max-width: 100%;
    height: 100%;
    margin: 0; }

  .unigrid--row {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start; }

  .brick-mobile--1 {
    flex-basis: calc(8.33333% - 18px);
    max-width: calc(8.33333% - 18px);
    width: calc(8.33333% - 18px); }

  .unigrid--col.brick-mobile--1,
  .unigrid--row.brick-mobile--1,
  .brick--img.brick-mobile--1,
  img.brick-mobile--1 {
    width: calc(8.33333% - 10px);
    max-width: calc(8.33333% - 10px);
    flex-basis: calc(8.33333% - 10px); }

  .prepend--1,
  .first.prepend--1,
  .brick:first-child.prepend--1 {
    margin-left: 0; }

  .append--1,
  .last.append--1,
  .brick:last-child.append--1 {
    margin-right: 0; }

  .prepend-mobile--1,
  .first.prepend-mobile--1,
  .brick:first-child.prepend-mobile--1 {
    margin-left: calc(8.33333% + 5px) !important; }

  .append-mobile--1,
  .last.append-mobile--1,
  .brick:last-child.append-mobile--1 {
    margin-right: calc(8.33333% + 5px) !important; }

  .brick-mobile--2 {
    flex-basis: calc(16.66667% - 18px);
    max-width: calc(16.66667% - 18px);
    width: calc(16.66667% - 18px); }

  .unigrid--col.brick-mobile--2,
  .unigrid--row.brick-mobile--2,
  .brick--img.brick-mobile--2,
  img.brick-mobile--2 {
    width: calc(16.66667% - 10px);
    max-width: calc(16.66667% - 10px);
    flex-basis: calc(16.66667% - 10px); }

  .prepend--2,
  .first.prepend--2,
  .brick:first-child.prepend--2 {
    margin-left: 0; }

  .append--2,
  .last.append--2,
  .brick:last-child.append--2 {
    margin-right: 0; }

  .prepend-mobile--2,
  .first.prepend-mobile--2,
  .brick:first-child.prepend-mobile--2 {
    margin-left: calc(16.66667% + 5px) !important; }

  .append-mobile--2,
  .last.append-mobile--2,
  .brick:last-child.append-mobile--2 {
    margin-right: calc(16.66667% + 5px) !important; }

  .brick-mobile--3 {
    flex-basis: calc(25% - 18px);
    max-width: calc(25% - 18px);
    width: calc(25% - 18px); }

  .unigrid--col.brick-mobile--3,
  .unigrid--row.brick-mobile--3,
  .brick--img.brick-mobile--3,
  img.brick-mobile--3 {
    width: calc(25% - 10px);
    max-width: calc(25% - 10px);
    flex-basis: calc(25% - 10px); }

  .prepend--3,
  .first.prepend--3,
  .brick:first-child.prepend--3 {
    margin-left: 0; }

  .append--3,
  .last.append--3,
  .brick:last-child.append--3 {
    margin-right: 0; }

  .prepend-mobile--3,
  .first.prepend-mobile--3,
  .brick:first-child.prepend-mobile--3 {
    margin-left: calc(25% + 5px) !important; }

  .append-mobile--3,
  .last.append-mobile--3,
  .brick:last-child.append-mobile--3 {
    margin-right: calc(25% + 5px) !important; }

  .brick-mobile--4 {
    flex-basis: calc(33.33333% - 18px);
    max-width: calc(33.33333% - 18px);
    width: calc(33.33333% - 18px); }

  .unigrid--col.brick-mobile--4,
  .unigrid--row.brick-mobile--4,
  .brick--img.brick-mobile--4,
  img.brick-mobile--4 {
    width: calc(33.33333% - 10px);
    max-width: calc(33.33333% - 10px);
    flex-basis: calc(33.33333% - 10px); }

  .prepend--4,
  .first.prepend--4,
  .brick:first-child.prepend--4 {
    margin-left: 0; }

  .append--4,
  .last.append--4,
  .brick:last-child.append--4 {
    margin-right: 0; }

  .prepend-mobile--4,
  .first.prepend-mobile--4,
  .brick:first-child.prepend-mobile--4 {
    margin-left: calc(33.33333% + 5px) !important; }

  .append-mobile--4,
  .last.append-mobile--4,
  .brick:last-child.append-mobile--4 {
    margin-right: calc(33.33333% + 5px) !important; }

  .brick-mobile--5 {
    flex-basis: calc(41.66667% - 18px);
    max-width: calc(41.66667% - 18px);
    width: calc(41.66667% - 18px); }

  .unigrid--col.brick-mobile--5,
  .unigrid--row.brick-mobile--5,
  .brick--img.brick-mobile--5,
  img.brick-mobile--5 {
    width: calc(41.66667% - 10px);
    max-width: calc(41.66667% - 10px);
    flex-basis: calc(41.66667% - 10px); }

  .prepend--5,
  .first.prepend--5,
  .brick:first-child.prepend--5 {
    margin-left: 0; }

  .append--5,
  .last.append--5,
  .brick:last-child.append--5 {
    margin-right: 0; }

  .prepend-mobile--5,
  .first.prepend-mobile--5,
  .brick:first-child.prepend-mobile--5 {
    margin-left: calc(41.66667% + 5px) !important; }

  .append-mobile--5,
  .last.append-mobile--5,
  .brick:last-child.append-mobile--5 {
    margin-right: calc(41.66667% + 5px) !important; }

  .brick-mobile--6 {
    flex-basis: calc(50% - 18px);
    max-width: calc(50% - 18px);
    width: calc(50% - 18px); }

  .unigrid--col.brick-mobile--6,
  .unigrid--row.brick-mobile--6,
  .brick--img.brick-mobile--6,
  img.brick-mobile--6 {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    flex-basis: calc(50% - 10px); }

  .prepend--6,
  .first.prepend--6,
  .brick:first-child.prepend--6 {
    margin-left: 0; }

  .append--6,
  .last.append--6,
  .brick:last-child.append--6 {
    margin-right: 0; }

  .prepend-mobile--6,
  .first.prepend-mobile--6,
  .brick:first-child.prepend-mobile--6 {
    margin-left: calc(50% + 5px) !important; }

  .append-mobile--6,
  .last.append-mobile--6,
  .brick:last-child.append-mobile--6 {
    margin-right: calc(50% + 5px) !important; }

  .brick-mobile--7 {
    flex-basis: calc(58.33333% - 18px);
    max-width: calc(58.33333% - 18px);
    width: calc(58.33333% - 18px); }

  .unigrid--col.brick-mobile--7,
  .unigrid--row.brick-mobile--7,
  .brick--img.brick-mobile--7,
  img.brick-mobile--7 {
    width: calc(58.33333% - 10px);
    max-width: calc(58.33333% - 10px);
    flex-basis: calc(58.33333% - 10px); }

  .prepend--7,
  .first.prepend--7,
  .brick:first-child.prepend--7 {
    margin-left: 0; }

  .append--7,
  .last.append--7,
  .brick:last-child.append--7 {
    margin-right: 0; }

  .prepend-mobile--7,
  .first.prepend-mobile--7,
  .brick:first-child.prepend-mobile--7 {
    margin-left: calc(58.33333% + 5px) !important; }

  .append-mobile--7,
  .last.append-mobile--7,
  .brick:last-child.append-mobile--7 {
    margin-right: calc(58.33333% + 5px) !important; }

  .brick-mobile--8 {
    flex-basis: calc(66.66667% - 18px);
    max-width: calc(66.66667% - 18px);
    width: calc(66.66667% - 18px); }

  .unigrid--col.brick-mobile--8,
  .unigrid--row.brick-mobile--8,
  .brick--img.brick-mobile--8,
  img.brick-mobile--8 {
    width: calc(66.66667% - 10px);
    max-width: calc(66.66667% - 10px);
    flex-basis: calc(66.66667% - 10px); }

  .prepend--8,
  .first.prepend--8,
  .brick:first-child.prepend--8 {
    margin-left: 0; }

  .append--8,
  .last.append--8,
  .brick:last-child.append--8 {
    margin-right: 0; }

  .prepend-mobile--8,
  .first.prepend-mobile--8,
  .brick:first-child.prepend-mobile--8 {
    margin-left: calc(66.66667% + 5px) !important; }

  .append-mobile--8,
  .last.append-mobile--8,
  .brick:last-child.append-mobile--8 {
    margin-right: calc(66.66667% + 5px) !important; }

  .brick-mobile--9 {
    flex-basis: calc(75% - 18px);
    max-width: calc(75% - 18px);
    width: calc(75% - 18px); }

  .unigrid--col.brick-mobile--9,
  .unigrid--row.brick-mobile--9,
  .brick--img.brick-mobile--9,
  img.brick-mobile--9 {
    width: calc(75% - 10px);
    max-width: calc(75% - 10px);
    flex-basis: calc(75% - 10px); }

  .prepend--9,
  .first.prepend--9,
  .brick:first-child.prepend--9 {
    margin-left: 0; }

  .append--9,
  .last.append--9,
  .brick:last-child.append--9 {
    margin-right: 0; }

  .prepend-mobile--9,
  .first.prepend-mobile--9,
  .brick:first-child.prepend-mobile--9 {
    margin-left: calc(75% + 5px) !important; }

  .append-mobile--9,
  .last.append-mobile--9,
  .brick:last-child.append-mobile--9 {
    margin-right: calc(75% + 5px) !important; }

  .brick-mobile--10 {
    flex-basis: calc(83.33333% - 18px);
    max-width: calc(83.33333% - 18px);
    width: calc(83.33333% - 18px); }

  .unigrid--col.brick-mobile--10,
  .unigrid--row.brick-mobile--10,
  .brick--img.brick-mobile--10,
  img.brick-mobile--10 {
    width: calc(83.33333% - 10px);
    max-width: calc(83.33333% - 10px);
    flex-basis: calc(83.33333% - 10px); }

  .prepend--10,
  .first.prepend--10,
  .brick:first-child.prepend--10 {
    margin-left: 0; }

  .append--10,
  .last.append--10,
  .brick:last-child.append--10 {
    margin-right: 0; }

  .prepend-mobile--10,
  .first.prepend-mobile--10,
  .brick:first-child.prepend-mobile--10 {
    margin-left: calc(83.33333% + 5px) !important; }

  .append-mobile--10,
  .last.append-mobile--10,
  .brick:last-child.append-mobile--10 {
    margin-right: calc(83.33333% + 5px) !important; }

  .brick-mobile--11 {
    flex-basis: calc(91.66667% - 18px);
    max-width: calc(91.66667% - 18px);
    width: calc(91.66667% - 18px); }

  .unigrid--col.brick-mobile--11,
  .unigrid--row.brick-mobile--11,
  .brick--img.brick-mobile--11,
  img.brick-mobile--11 {
    width: calc(91.66667% - 10px);
    max-width: calc(91.66667% - 10px);
    flex-basis: calc(91.66667% - 10px); }

  .prepend--11,
  .first.prepend--11,
  .brick:first-child.prepend--11 {
    margin-left: 0; }

  .append--11,
  .last.append--11,
  .brick:last-child.append--11 {
    margin-right: 0; }

  .prepend-mobile--11,
  .first.prepend-mobile--11,
  .brick:first-child.prepend-mobile--11 {
    margin-left: calc(91.66667% + 5px) !important; }

  .append-mobile--11,
  .last.append-mobile--11,
  .brick:last-child.append-mobile--11 {
    margin-right: calc(91.66667% + 5px) !important; }

  .brick-mobile--12 {
    flex-basis: calc(100% - 18px);
    max-width: calc(100% - 18px);
    width: calc(100% - 18px); }

  .unigrid--col.brick-mobile--12,
  .unigrid--row.brick-mobile--12,
  .brick--img.brick-mobile--12,
  img.brick-mobile--12 {
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    flex-basis: calc(100% - 10px); }

  .prepend--12,
  .first.prepend--12,
  .brick:first-child.prepend--12 {
    margin-left: 0; }

  .append--12,
  .last.append--12,
  .brick:last-child.append--12 {
    margin-right: 0; }

  .prepend-mobile--12,
  .first.prepend-mobile--12,
  .brick:first-child.prepend-mobile--12 {
    margin-left: calc(100% + 5px) !important; }

  .append-mobile--12,
  .last.append-mobile--12,
  .brick:last-child.append-mobile--12 {
    margin-right: calc(100% + 5px) !important; }

  /*------------------------------------*\
    #MOBILE-GRID-COLUMN
  \*------------------------------------*/
  .unigrid--col > .brick {
    max-width: calc(100% - 18px);
    display: inline-block; }

  .unigrid--col > img.brick,
  .unigrid--col > .brick--img {
    max-width: calc(100% - 10px); }

  .unigrid--col > .brick.unigrid--row {
    display: flex; }

  .unigrid--col > .unigrid--row {
    height: 100%;
    max-height: 100%;
    margin: 0;
    max-width: 100%; }

  .brick-mobile--col--1,
  .brick-mobile--col--1 > .brick {
    height: 32px;
    max-height: 32px; }

  .unigrid--row.brick-mobile--col--1 {
    height: 50px;
    max-height: 50px;
    display: flex; }

  .brick-mobile--col--1 > .brick--img,
  .brick-mobile--col--1 > img.brick,
  .unigrid--col > img.brick-mobile--col--1,
  .unigrid--col > .brick--img.brick-mobile--col--1 {
    height: 40px;
    max-height: 40px; }

  .unigrid--col > .brick.prepend--col--1 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--1 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--1,
  .brick.unigrid--col > .brick:first-child.prepend--col--1,
  .brick.unigrid--col > .brick.first.prepend--col--1 {
    margin-top: 55px; }

  .unigrid--col > .brick.append--col--1,
  .brick.unigrid--col > .brick:last-child.append--col--1,
  .brick.unigrid--col > .brick.last.append--col--1 {
    margin-bottom: 55px; }

  .brick-mobile--col--2,
  .brick-mobile--col--2 > .brick {
    height: 82px;
    max-height: 82px; }

  .unigrid--row.brick-mobile--col--2 {
    height: 100px;
    max-height: 100px;
    display: flex; }

  .brick-mobile--col--2 > .brick--img,
  .brick-mobile--col--2 > img.brick,
  .unigrid--col > img.brick-mobile--col--2,
  .unigrid--col > .brick--img.brick-mobile--col--2 {
    height: 90px;
    max-height: 90px; }

  .unigrid--col > .brick.prepend--col--2 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--2 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--2,
  .brick.unigrid--col > .brick:first-child.prepend--col--2,
  .brick.unigrid--col > .brick.first.prepend--col--2 {
    margin-top: 105px; }

  .unigrid--col > .brick.append--col--2,
  .brick.unigrid--col > .brick:last-child.append--col--2,
  .brick.unigrid--col > .brick.last.append--col--2 {
    margin-bottom: 105px; }

  .brick-mobile--col--3,
  .brick-mobile--col--3 > .brick {
    height: 132px;
    max-height: 132px; }

  .unigrid--row.brick-mobile--col--3 {
    height: 150px;
    max-height: 150px;
    display: flex; }

  .brick-mobile--col--3 > .brick--img,
  .brick-mobile--col--3 > img.brick,
  .unigrid--col > img.brick-mobile--col--3,
  .unigrid--col > .brick--img.brick-mobile--col--3 {
    height: 140px;
    max-height: 140px; }

  .unigrid--col > .brick.prepend--col--3 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--3 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--3,
  .brick.unigrid--col > .brick:first-child.prepend--col--3,
  .brick.unigrid--col > .brick.first.prepend--col--3 {
    margin-top: 155px; }

  .unigrid--col > .brick.append--col--3,
  .brick.unigrid--col > .brick:last-child.append--col--3,
  .brick.unigrid--col > .brick.last.append--col--3 {
    margin-bottom: 155px; }

  .brick-mobile--col--4,
  .brick-mobile--col--4 > .brick {
    height: 182px;
    max-height: 182px; }

  .unigrid--row.brick-mobile--col--4 {
    height: 200px;
    max-height: 200px;
    display: flex; }

  .brick-mobile--col--4 > .brick--img,
  .brick-mobile--col--4 > img.brick,
  .unigrid--col > img.brick-mobile--col--4,
  .unigrid--col > .brick--img.brick-mobile--col--4 {
    height: 190px;
    max-height: 190px; }

  .unigrid--col > .brick.prepend--col--4 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--4 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--4,
  .brick.unigrid--col > .brick:first-child.prepend--col--4,
  .brick.unigrid--col > .brick.first.prepend--col--4 {
    margin-top: 205px; }

  .unigrid--col > .brick.append--col--4,
  .brick.unigrid--col > .brick:last-child.append--col--4,
  .brick.unigrid--col > .brick.last.append--col--4 {
    margin-bottom: 205px; }

  .brick-mobile--col--5,
  .brick-mobile--col--5 > .brick {
    height: 232px;
    max-height: 232px; }

  .unigrid--row.brick-mobile--col--5 {
    height: 250px;
    max-height: 250px;
    display: flex; }

  .brick-mobile--col--5 > .brick--img,
  .brick-mobile--col--5 > img.brick,
  .unigrid--col > img.brick-mobile--col--5,
  .unigrid--col > .brick--img.brick-mobile--col--5 {
    height: 240px;
    max-height: 240px; }

  .unigrid--col > .brick.prepend--col--5 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--5 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--5,
  .brick.unigrid--col > .brick:first-child.prepend--col--5,
  .brick.unigrid--col > .brick.first.prepend--col--5 {
    margin-top: 255px; }

  .unigrid--col > .brick.append--col--5,
  .brick.unigrid--col > .brick:last-child.append--col--5,
  .brick.unigrid--col > .brick.last.append--col--5 {
    margin-bottom: 255px; }

  .brick-mobile--col--6,
  .brick-mobile--col--6 > .brick {
    height: 282px;
    max-height: 282px; }

  .unigrid--row.brick-mobile--col--6 {
    height: 300px;
    max-height: 300px;
    display: flex; }

  .brick-mobile--col--6 > .brick--img,
  .brick-mobile--col--6 > img.brick,
  .unigrid--col > img.brick-mobile--col--6,
  .unigrid--col > .brick--img.brick-mobile--col--6 {
    height: 290px;
    max-height: 290px; }

  .unigrid--col > .brick.prepend--col--6 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--6 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--6,
  .brick.unigrid--col > .brick:first-child.prepend--col--6,
  .brick.unigrid--col > .brick.first.prepend--col--6 {
    margin-top: 305px; }

  .unigrid--col > .brick.append--col--6,
  .brick.unigrid--col > .brick:last-child.append--col--6,
  .brick.unigrid--col > .brick.last.append--col--6 {
    margin-bottom: 305px; }

  .brick-mobile--col--7,
  .brick-mobile--col--7 > .brick {
    height: 332px;
    max-height: 332px; }

  .unigrid--row.brick-mobile--col--7 {
    height: 350px;
    max-height: 350px;
    display: flex; }

  .brick-mobile--col--7 > .brick--img,
  .brick-mobile--col--7 > img.brick,
  .unigrid--col > img.brick-mobile--col--7,
  .unigrid--col > .brick--img.brick-mobile--col--7 {
    height: 340px;
    max-height: 340px; }

  .unigrid--col > .brick.prepend--col--7 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--7 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--7,
  .brick.unigrid--col > .brick:first-child.prepend--col--7,
  .brick.unigrid--col > .brick.first.prepend--col--7 {
    margin-top: 355px; }

  .unigrid--col > .brick.append--col--7,
  .brick.unigrid--col > .brick:last-child.append--col--7,
  .brick.unigrid--col > .brick.last.append--col--7 {
    margin-bottom: 355px; }

  .brick-mobile--col--8,
  .brick-mobile--col--8 > .brick {
    height: 382px;
    max-height: 382px; }

  .unigrid--row.brick-mobile--col--8 {
    height: 400px;
    max-height: 400px;
    display: flex; }

  .brick-mobile--col--8 > .brick--img,
  .brick-mobile--col--8 > img.brick,
  .unigrid--col > img.brick-mobile--col--8,
  .unigrid--col > .brick--img.brick-mobile--col--8 {
    height: 390px;
    max-height: 390px; }

  .unigrid--col > .brick.prepend--col--8 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--8 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--8,
  .brick.unigrid--col > .brick:first-child.prepend--col--8,
  .brick.unigrid--col > .brick.first.prepend--col--8 {
    margin-top: 405px; }

  .unigrid--col > .brick.append--col--8,
  .brick.unigrid--col > .brick:last-child.append--col--8,
  .brick.unigrid--col > .brick.last.append--col--8 {
    margin-bottom: 405px; }

  .brick-mobile--col--9,
  .brick-mobile--col--9 > .brick {
    height: 432px;
    max-height: 432px; }

  .unigrid--row.brick-mobile--col--9 {
    height: 450px;
    max-height: 450px;
    display: flex; }

  .brick-mobile--col--9 > .brick--img,
  .brick-mobile--col--9 > img.brick,
  .unigrid--col > img.brick-mobile--col--9,
  .unigrid--col > .brick--img.brick-mobile--col--9 {
    height: 440px;
    max-height: 440px; }

  .unigrid--col > .brick.prepend--col--9 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--9 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--9,
  .brick.unigrid--col > .brick:first-child.prepend--col--9,
  .brick.unigrid--col > .brick.first.prepend--col--9 {
    margin-top: 455px; }

  .unigrid--col > .brick.append--col--9,
  .brick.unigrid--col > .brick:last-child.append--col--9,
  .brick.unigrid--col > .brick.last.append--col--9 {
    margin-bottom: 455px; }

  .brick-mobile--col--10,
  .brick-mobile--col--10 > .brick {
    height: 482px;
    max-height: 482px; }

  .unigrid--row.brick-mobile--col--10 {
    height: 500px;
    max-height: 500px;
    display: flex; }

  .brick-mobile--col--10 > .brick--img,
  .brick-mobile--col--10 > img.brick,
  .unigrid--col > img.brick-mobile--col--10,
  .unigrid--col > .brick--img.brick-mobile--col--10 {
    height: 490px;
    max-height: 490px; }

  .unigrid--col > .brick.prepend--col--10 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--10 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--10,
  .brick.unigrid--col > .brick:first-child.prepend--col--10,
  .brick.unigrid--col > .brick.first.prepend--col--10 {
    margin-top: 505px; }

  .unigrid--col > .brick.append--col--10,
  .brick.unigrid--col > .brick:last-child.append--col--10,
  .brick.unigrid--col > .brick.last.append--col--10 {
    margin-bottom: 505px; }

  .brick-mobile--col--11,
  .brick-mobile--col--11 > .brick {
    height: 532px;
    max-height: 532px; }

  .unigrid--row.brick-mobile--col--11 {
    height: 550px;
    max-height: 550px;
    display: flex; }

  .brick-mobile--col--11 > .brick--img,
  .brick-mobile--col--11 > img.brick,
  .unigrid--col > img.brick-mobile--col--11,
  .unigrid--col > .brick--img.brick-mobile--col--11 {
    height: 540px;
    max-height: 540px; }

  .unigrid--col > .brick.prepend--col--11 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--11 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--11,
  .brick.unigrid--col > .brick:first-child.prepend--col--11,
  .brick.unigrid--col > .brick.first.prepend--col--11 {
    margin-top: 555px; }

  .unigrid--col > .brick.append--col--11,
  .brick.unigrid--col > .brick:last-child.append--col--11,
  .brick.unigrid--col > .brick.last.append--col--11 {
    margin-bottom: 555px; }

  .brick-mobile--col--12,
  .brick-mobile--col--12 > .brick {
    height: 582px;
    max-height: 582px; }

  .unigrid--row.brick-mobile--col--12 {
    height: 600px;
    max-height: 600px;
    display: flex; }

  .brick-mobile--col--12 > .brick--img,
  .brick-mobile--col--12 > img.brick,
  .unigrid--col > img.brick-mobile--col--12,
  .unigrid--col > .brick--img.brick-mobile--col--12 {
    height: 590px;
    max-height: 590px; }

  .unigrid--col > .brick.prepend--col--12 {
    margin-top: 5px; }

  .unigrid--col > .brick.append--col--12 {
    margin-bottom: 5px; }

  .unigrid--col > .brick.prepend--col--12,
  .brick.unigrid--col > .brick:first-child.prepend--col--12,
  .brick.unigrid--col > .brick.first.prepend--col--12 {
    margin-top: 605px; }

  .unigrid--col > .brick.append--col--12,
  .brick.unigrid--col > .brick:last-child.append--col--12,
  .brick.unigrid--col > .brick.last.append--col--12 {
    margin-bottom: 605px; }

  /*------------------------------------*\
    #MOBILE-GRID-ORDER
  \*------------------------------------*/
  .order-mobile--1 {
    order: 1; }

  .order-mobile--2 {
    order: 2; }

  .order-mobile--3 {
    order: 3; }

  .order-mobile--4 {
    order: 4; }

  .order-mobile--5 {
    order: 5; }

  .order-mobile--6 {
    order: 6; }

  .order-mobile--7 {
    order: 7; }

  .order-mobile--8 {
    order: 8; }

  .order-mobile--9 {
    order: 9; }

  .order-mobile--10 {
    order: 10; }

  .order-mobile--11 {
    order: 11; }

  .order-mobile--12 {
    order: 12; } }

/*# sourceMappingURL=unigrid-grid.css.map */
