<!-- ALLGEMEINES -->
<div class="unigrid--row">
  <div class="brick brick--4">
    <div class="form-required form-group">
      <label for="training.trainer">Trainer</label>
      <input ng-model="training.trainer" type="text" name="training.trainer" id="training.trainer" class="form-control" required/>
    </div>
  </div>
  <div class="brick brick--4">
    <div class="form-required form-group">
      <label for="training.team">Team</label>
      <div class="select">
        <select ng-model="training.team" name="training.team" id="training.team" required>
          <option>Team 1</option>
          <option>3. Liga</option>
          <option>Junioren B</option>
          <option>1. Mannschaft</option>
          <option>YB Stadt FE-12</option>
        </select>
        <div class="select__arrow"></div>
      </div>
    </div>
  </div>
  <div class="brick brick--4">
    <div class="form-required form-group">
      <label for="training.date">Datum</label>
      <input type="text" ng-model="training.trainingDate" name="training.date" id="training.date" class="form-control" required/>
    </div>
  </div>
  <div class="brick brick--12">
    <div class="form-required form-group">
      <label>Trainingsinhalt</label>
      <tags-input ng-model="training.content" replace-spaces-with-dashes="false">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
    </div>
  </div>
</div>

<!-- BEMERKUNGEN -->
<div class="unigrid--row">
  <div class="brick brick--24">
    <div class="form-group">
      <label for="training.bemerkungen">Bemerkungen</label>
      <textarea rows="3" class="form-control" id="training.bemerkungen" ng-model="training.bemerkungen"
                ng-if="!showHtmlText"></textarea>
      <div ng-bind-html="convertToHtml(training.bemerkungen)" ng-show="showHtmlText" class="fake-input"></div>
    </div>
  </div>
</div>
