<pre>{{filterBy|json}}</pre>
<!-- TRAININGSINHALT -->
<div class="form-required form-group">
  <label>Trainingsinhalt</label>
  <tags-input ng-model="training.content" replace-spaces-with-dashes="false">
    <auto-complete source="loadTags($query)"></auto-complete>
  </tags-input>
</div>

<div class="unigrid--row" ng-repeat="item in searchResult | notInArray:filterBy():'$id'">
  <div class="brick brick--2">
    <button class="narrow" ng-click="addExercise(item.$id)">Hinzufügen</button>
  </div>
  <div class="brick brick--6">
    <strong>{{ item.name }}</strong>
  </div>
  <div class="brick brick--4">
    <a class="fancybox" href="{{item.graphic}}">
      <img class="training__exercise-image" data-ng-src="{{item.graphic}}" data-err-src="images/torschuss.png"/>
    </a>
  </div>
  <div class="brick brick--12">
    <span class="tag-item" ng-repeat="tags in item.content">{{ tags.text }}</span>
  </div>
</div>

<hr class="narrow"/>

<div>
  SUMMARY SMALL
</div>
