<span class="fake-label">Trainingsinhalt</span>
<!-- TRAINING ORGANISIEREN -->
<!-- overview: auto/scroll ?! -->
<div class="training">

  <div class="unigrid--row unigrid--border unigrid--border__header training__header">
    <div class="brick brick--2">
      <strong>Lektionsteil</strong>
    </div>

    <div class="brick brick--7">
      <strong>Beschreibung</strong>
    </div>
    <div class="brick brick--6">
      <strong>Organisation</strong>
    </div>
    <div class="brick brick--7">
      <strong>Coaching</strong>
    </div>

    <div class="brick brick--2">
      <strong>Dauer</strong>
    </div>
  </div>

  <div class="unigrid--row unigrid--border training__exercise" ng-repeat="trainingExercise in training.exercises track by $index">
    <div class="training__action">
      <button class="narrow" ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <button class="narrow" ng-click="toggleEditExercise($index)"><i class="fa fa-pencil" aria-hidden="true" ng-if="!isEdit($index)"></i><i class="fa fa-check" aria-hidden="true" ng-if="isEdit($index)"></i></button>
      <!--
      <br />
      <button><i class="fa fa-arrows" aria-hidden="true"></i></button>
      -->
    </div>

    <div class="brick brick--2 first">
      <strong ng-if="!isEdit($index)">{{trainingExercise.lektionsteil}}</strong>

      <div class="form-required form-group" ng-if="isEdit($index)">
        <label for="lektionsteil{{$index}}" class="sr-only" style="display: none;">Lektionsteil</label>
        <div class="select">
          <select name="lektionsteil{{$index}}" id="lektionsteil{{$index}}" ng-model="trainingExercise.lektionsteil" required>
            <option>Einstieg</option>
            <option>G 1</option>
            <option>A</option>
            <option>G 2</option>
            <option>Ausklang</option>
          </select>
          <div class="select__arrow"></div>
        </div>
      </div>

    </div>

    <div class="brick brick--7">
      <span markdown-it="showExercise(trainingExercise.exerciseId).description"></span>
    </div>
    <div class="brick brick--6">
      <img class="training__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}" />
    </div>
    <div class="brick brick--7">
      <span markdown-it="showExercise(trainingExercise.exerciseId).aufbau"></span>
      <span markdown-it="showExercise(trainingExercise.exerciseId).coaching"></span>
    </div>

    <div class="brick brick--2">
      <strong ng-if="!isEdit($index)">{{trainingExercise.dauer}} min</strong>

      <div class="form-required form-group" ng-if="isEdit($index)">
        <label for="dauer{{$index}}" class="sr-only" style="display: none;">Dauer</label>
        <input type="number" name="dauer{{$index}}" id="dauer{{$index}}" class="form-control" placeholder="Dauer" ng-model="trainingExercise.dauer" />
      </div>
    </div>
  </div>

</div>
