<pre>{{filterBy|json}}</pre>
<!-- TRAININGSINHALT -->
<div class="form-required form-group">
  <label>Trainingsinhalt</label>
  <tags-input ng-model="training.content" replace-spaces-with-dashes="false">
    <auto-complete source="loadTags($query)"></auto-complete>
  </tags-input>
</div>

<div class="unigrid--row" ng-repeat="item in searchResult | notInArray:filterBy():'$id'">
  <div class="brick brick--2">
    <button class="narrow" ng-click="addExercise(item.$id)">Hinzufügen</button>
  </div>
  <div class="brick brick--6">
    <strong>{{ item.name }}</strong>
  </div>
  <div class="brick brick--4">
    <a class="fancybox" href="{{item.graphic}}">
      <img class="training__exercise-image" data-ng-src="{{item.graphic}}" data-err-src="images/torschuss.png"/>
    </a>
  </div>
  <div class="brick brick--12">
    <span class="tag-item" ng-repeat="tags in item.content">{{ tags.text }}</span>
  </div>
</div>

<hr class="narrow"/>

<script>
  var el = document.getElementById('items');
  var sortable = Sortable.create(el,{
    handle: ".fa-arrows",
    animation: 150,
    ghostClass: 'ghost'
  });
</script>
<div id="items">
  <div class="unigrid--row" ng-repeat="trainingExercise in training.exercises track by $index">
    <div class="brick brick--4">
      <span class="btn-default narrow"><i class="fa fa-arrows" aria-hidden="true"></i></span>
      <button class="narrow" ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    <div class="brick brick--6">
      <strong><a class="fancybox" href="{{showExercise(trainingExercise.exerciseId).graphic}}">{{showExercise(trainingExercise.exerciseId).name}}</a></strong>
    </div>
    <div class="brick brick--14">
      <span class="tag-item" ng-repeat="tags in showExercise(trainingExercise.exerciseId).content">{{ tags.text }}</span>
    </div>
  </div>
</div>
