<br />
<!-- TRAINING ORGANISIEREN -->
<div class="training">

  <div class="unigrid--col training__exercise" ng-repeat="trainingExercise in training.exercises track by $index">
    <div class="training__action">
      <button ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>

    <div class="brick brick--col--1">
      <span class="fake-label">Trainingsinhalt</span>
      <span ng-repeat="tags in trainingExercise.content">{{ tags.text }}<span ng-if="!$last">, </span></span>
    </div>

    <div class="brick brick--col--flex unigrid--row">
      <div class="brick brick--6 first">
        <img class="training__exercise-image" data-ng-src="{{showExercise(trainingExercise.exerciseId).graphic}}" />
      </div>
      <div class="brick brick--6">
        <span class="fake-label">Beschreibung</span>
        <span markdown-it="showExercise(trainingExercise.exerciseId).description"></span>
      </div>
      <div class="brick brick--6">
        <div ng-if="showExercise(trainingExercise.exerciseId).aufbau">
          <span class="fake-label">Aufbau</span>
          <span markdown-it="showExercise(trainingExercise.exerciseId).aufbau"></span>
        </div>

        <div ng-if="showExercise(trainingExercise.exerciseId).coaching">
          <span class="fake-label" ng-if="showExercise(trainingExercise.exerciseId).coaching">Coaching</span>
          <span markdown-it="showExercise(trainingExercise.exerciseId).coaching"></span>
        </div>
      </div>

      <div class="brick brick--6">
        <div ng-if="showExercise(trainingExercise.exerciseId).variationen">
          <span class="fake-label">Variationen</span>
          <span markdown-it="showExercise(trainingExercise.exerciseId).variationen"></span>
        </div>

        <div class="form-group">
          <label for="trainingExercise.bemerkungen">Bemerkungen</label>
          <textarea rows="3" class="form-control" id="trainingExercise.bemerkungen"
                    ng-model="trainingExercise.bemerkungen"
                    ng-if="!showHtmlText"></textarea>
          <div markdown-it="trainingExercise.bemerkungen" ng-show="showHtmlText"
               class="fake-input"></div>
        </div>
      </div>
    </div>

  </div>

</div>
