<div class="unigrid--row training__exercise-search">
  <div class="brick brick--12">
    <div class="form-required form-group">
      <label for="training.titel">Titel</label>
      <input ng-model="training.titel" type="text" name="training.titel" id="training.titel" class="form-control"
             required/>
    </div>
  </div>

  <div class="brick brick--12">
    <div class="form-required form-group">
      <label>Trainingsinhalt</label>
      <tags-input ng-model="search" replace-spaces-with-dashes="false">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
    </div>
  </div>
</div>

<!-- TRAININGSINHALT -->
<div class="unigrid--row" ng-repeat="item in searchResult | notInArray:filterBy():'$id'">
  <div class="brick brick--2">
    <button class="narrow" ng-click="addExercise(item.$id)">Hinzufügen</button>
  </div>
  <div class="brick brick--6">
    <strong>{{ item.name }}</strong>
  </div>
  <div class="brick brick--4">
    <a class="fancybox" href="{{item.graphic}}">
      <img class="training__exercise-image" data-ng-src="{{item.graphic}}" data-err-src="images/torschuss.png"/>
    </a>
  </div>
  <div class="brick brick--12">
    <span class="tag-item" ng-repeat="tags in item.content">{{ tags.text }}</span>
  </div>
</div>

<hr class="narrow"/>

<div as-sortable="sortableOptions" ng-model="training.exercises">
  <div class="unigrid--row" ng-repeat="trainingExercise in training.exercises track by $index" as-sortable-item>
    <div class="brick brick--2">
      <span class="btn-default narrow" as-sortable-item-handle><i class="fa fa-arrows" aria-hidden="true"></i></span>
      <button class="narrow" ng-click="removeExercise($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
    <div class="brick brick--6">
      <strong><a class="fancybox" href="{{showExercise(trainingExercise.exerciseId).graphic}}">{{showExercise(trainingExercise.exerciseId).name}}</a></strong>
    </div>
    <div class="brick brick--6">
      <span ng-repeat="tags in trainingExercise.content">{{ tags.text }}<span ng-if="!$last">, </span></span>
    </div>
    <div class="brick brick--10">
      <span class="tag-item" ng-repeat="tags in showExercise(trainingExercise.exerciseId).content">{{ tags.text }}</span>
    </div>
  </div>
</div>
