<div class="page-wrapper">

  <div class="page-header">
    <h1>Edit Profile</h1>
  </div>

  <form ng-submit="updateProfile()">
    <p ng-hide="profile.name">
      You'll need a display name.
    </p>

    <div class="form-required form-group">
      <label for="profile.name">Display Name</label>
      <input ng-model="profile.name" placeholder="Display Name" type="text" name="profile.name" id="profile.name" class="form-control" required />
    </div>
    <!-- if club AND club.teans then select -->
    <div class="form-group">
      <label for="profile.team">Team Name</label>
      <input ng-model="profile.team" placeholder="Team Name" type="text" name="profile.team" id="profile.team" class="form-control" />
    </div>

    <input type="submit" class="btn btn-default" value="Set Display Name" />
  </form>

</div>

<h1>Edit Club</h1>

<div class="unigrid--row">
  <div class="brick brick--8">
    <div class="upload">
      <span class="fake-label">Logo</span>

      <img data-ng-src="{{club.logo}}" ng-if="club.logo" class="upload__image" />
      <img ng-if="picFile" ngf-thumbnail="picFile" class="upload__thumb">

      <div class="upload__toolbar">
        <div class="btn-default" ngf-select ng-model="picFile" ngf-multiple="false" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile">Select File</div>

        <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <button ng-click="uploadPic(picFile)">Upload</button>
      </div>
    </div>
  </div>
  <div class="brick brick--16">
    <div class="form-required form-group">
      <label for="club.name">Club Name</label>
      <input ng-model="club.name" placeholder="Club Name" type="text" name="club.name" id="club.name" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="club.colors">Colors</label>
      <input ng-model="club.colors" placeholder="Colors" type="text" name="club.colors" id="club.colors" class="form-control" />
    </div>

    <div class="form-group">
      <label for="club.teams">Teams</label>
      <input ng-model="club.teams" placeholder="Teams" type="text" name="club.teams" id="club.teams" class="form-control" />
    </div>
  </div>
</div>

<button class="btn btn-default" ng-click="updateOrganization()">Save Club Details</button>
