@import url("https://rsms.me/inter/inter.css");


.exercise__phases {
  list-style: none;
  padding: 0;
  margin: 0;
}
.exercise__phase {
  font-weight: 700;
  font-size: small;
}

.exercise__topic {
  list-style: none;
  padding: 0;
  margin: 0;

  font-style: italic;
  font-size: small;
}

.exercise__variety {

}

.exercise__paragraph__title {
  display: block;
  font-weight: 700;
}
.exercise__paragraph__content {
  display: block;
}

/* tree view */
.exercir__treeview  {
  list-style: none;
  padding: 0;
  margin: 0;
}
.exercir__treeview ul {
  list-style: none;
}

.exercir__treeview > li > span {
  font-weight: 700;
}
