<div class="unigrid--row" style="background: #eeeeee; border: 1px solid silver; border-bottom: none;">
  <div class="brick brick--19 graphics__toolbar">
    <button class="btn btn-default narrow"><i class="fa fa-undo" aria-hidden="true"></i> Zurück</button>
    <button class="btn btn-default narrow"><i class="fa fa-repeat" aria-hidden="true"></i> Wiederholen</button>

    <button class="btn btn-default narrow">Spielfeld</button>

    <button class="btn btn-default narrow"><i class="fa fa-scissors" aria-hidden="true"></i> Ausschneiden</button>
    <button class="btn btn-default narrow"><i class="fa fa-clone" aria-hidden="true"></i> Kopieren</button>
    <button class="btn btn-default narrow"><i class="fa fa-clipboard" aria-hidden="true"></i> Einfügen</button>
  </div>

  <div class="brick brick--5" style="text-align: right;">
    <button class="btn btn-default narrow"><i class="fa fa-file-o" aria-hidden="true"></i> Reset</button>
    <button class="btn btn-default narrow"><i class="fa fa-download" aria-hidden="true"></i> Speichern</button>
  </div>
</div>

<div class="unigrid--row" style="border: 1px solid silver; border-top8: none;">
  <div class="brick brick--1">
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-font" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-square-o" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-circle-o" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-street-view" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-circle" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-caret-up" aria-hidden="true"></i></a>
  </div>
  <div class="brick brick--18" style="background: yellow;">

  </div>
  <div class="brick brick--5">
    <h3>Linien</h3>
    <hr class="narrow" />

    <h4>Krümmung</h4>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Gerade</a>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Gebogen</a>

    <h4>Linientyp</h4>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Normal</a>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Gestrichelt</a>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Geschlängelt</a>

    <h4>Linienende</h4>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Keine</a>
    <a href="#" class="btn-toolbar btn-block"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i> Pfeil</a>

    <br />

    <span class="fake-label">Linienfarbe</span>
    <div class="fake-input">[COLOR]</div>

    <div class="form-required form-group">
      <label for="Linienbreite">Linienbreite</label>
      <input type="number" name="Linienbreite" id="Linienbreite" class="form-control" required />
    </div>

    <div class="form-required form-group">
      <label for="Pfeilgrösse">Pfeilgrösse</label>
      <input type="number" name="Pfeilgrösse" id="Pfeilgrösse" class="form-control" required />
    </div>

  </div>

</div>
