<div class="unigrid--row" style="background: red;">
  <div class="brick brick--18" style="background: silver;">
    <button class="btn btn-default narrow"><i class="fa fa-undo" aria-hidden="true"></i> Zurück</button>
    <button class="btn btn-default narrow"><i class="fa fa-repeat" aria-hidden="true"></i> Wiederholen</button>

    <button class="btn btn-default narrow">Spielfeld</button>

    <button class="btn btn-default narrow"><i class="fa fa-scissors" aria-hidden="true"></i> Ausschneiden</button>
    <button class="btn btn-default narrow"><i class="fa fa-clone" aria-hidden="true"></i> Kopieren</button>
    <button class="btn btn-default narrow"><i class="fa fa-clipboard" aria-hidden="true"></i> Einfügen</button>
  </div>

  <div class="brick brick--6" style="background: green;">
    <button class="btn btn-default narrow"><i class="fa fa-file-o" aria-hidden="true"></i> Reset</button>
    <button class="btn btn-default narrow"><i class="fa fa-download" aria-hidden="true"></i> Speichern</button>
  </div>
</div>

<div class="unigrid--row">
  <div class="brick brick--1" style="background: orange; height: 100%;">
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-mouse-pointer" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-font" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-square-o" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-circle-o" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-street-view" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-circle" aria-hidden="true"></i></a>
    <a href="#" class="btn-toolbar"><i class="fa fa-lg fa-caret-up" aria-hidden="true"></i></a>
  </div>
  <div class="brick brick--18" style="background: yellow;">

  </div>
  <div class="brick brick--5" style="background: greenyellow;">

  </div>

</div>
